<!doctype html>
<html>
   <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">
      <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">
      <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">
      <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">
      <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">
      <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">
      <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">
      <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">
      <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">
      <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">
      <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">
      <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
      <noscript>
         <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/js-disabled">
      </noscript>
      <title>YARA - New Event</title>
      <link rel="stylesheet" href="../../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
      <link rel="stylesheet" href="../../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
      <link rel="stylesheet" href="../../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">
      <link rel="stylesheet" href="../../../static/dashboard/css/animate.css">
      <!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
      <link rel="stylesheet" href="../../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
      <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
      <!--<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyBiLVnHVmK-3nm_MZvug6NjZmMdOQX_cm8"></script>-->
      <script src="../../../static/dashboard/scripts/angular.min.js?v=f92db09e0bdde7d9038cef646c71742f"></script>
      <!--<script src="scripts/ng-map.js?v=fa4660ddb497d70a54579dd676cb5f57"></script>-->
      <script src="../../../static/dashboard/scripts/angular-route.min.js?v=fde86ccbbd3888c419d6d002d930d6db"></script> <script src="../../../static/dashboard/scripts/angular-cookies.min.js?v=eb5752021baaa11be20ba6174708ee0c"></script> <script src="../../../static/dashboard/scripts/angular-sanitize.min.js?v=4b77ba7d10f6b45ef27d552f70b3ff84"></script> <script src="../../../static/dashboard/scripts/angular-localization.js?v=04ce5b438a710779bdda4c78771caf77"></script>
      <script src="../../../static/dashboard/scripts/angular-recaptcha.min.js?v=755358d59937bd7ef87d7a4f938a6523"></script>
      <script src="../../../static/dashboard/scripts/ui-bootstrap-tpls-0.14.3.js?v=4e74c1522478a99fc663d05d5e71729c"></script>
      <script src="../../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>
      <!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
      <script src="../../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
      <script src="../../../static/dashboard/scripts/app.js?v=cb63d6447409374df653b8707287ee36"></script>
      <script src="../../../static/dashboard/scripts/angular-image-upload.js?v=e302af94162ccd72488ceb4bd6d5beea"></script>
      <script src="../../../static/dashboard/scripts/directives.js?v=a43d41739288e4904df6180ab01b634f"></script>
      <script src="../../../static/dashboard/scripts/Service.js?v=ad7dbf9fb3ca3d53bee05effed8dce9c"></script>         <script src="../../../static/dashboard/scripts/credentials.js?v=01d3d24491e8b134a9855d83bf466b93"></script>         <script src="../../../static/dashboard/scripts/ng-droplet.js?v=7da6daf2b481c0f3d6ce5811090c524e"></script>                  <script src="../../../static/dashboard/scripts/ng-infinite-scroll.min.js?v=299bcea502c681c68093eb86f8c1bccf"></script>
      <!--UI style---->
      <link rel="stylesheet" href="../../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->
   </head>
   <body ng-app="yara"  ng-controller="NewEventController" class="overflow-body01">
      <div id="loading">
         <div id="fountainG">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
         </div>
         <div class="bg-loader">
         </div>
      </div>
      {%verbatim%}
      <div id="container" class="wrap01">
      <!---header-->
      <div class="container navbar-fixed-top border" >
         <div class="col-md-12 white  ">
            <div class="col-md-1 nav-color main-header-signup01" style="text-align:left;"><a href="" back-button><img src="../../../static/dashboard/images/yara_logo.svg?v=ce9e59e2272c030c2954deb7d56f3267"width="100%"/></a></div>
            <div class="col-md-1 nav-color sub-header-border">&nbsp;</div>
            <div class="col-md-2 nav-color sub-header-buy">New Event</div>
         </div>
      </div>
      <!----end header---->
      <div class="container">
         <div class="row">
            <div class="col-md-12 div-fix"  >
               <div class="pulse-top">
                  <div class="col-md-8 col-md-offset-2" style="text-align:center;margin-top:3%;">
                     <div class="row">
                        <div class="">
                           <div class="main-header-Bold newevent">Choose an event package</div>
                           <ul class="list-group">
                              <li  class="list-group-item newevent-space wow animated  fadeInUp" data-wow-delay="0.1s" ng-repeat="p in Packageslist" >
                                 <div class="row">
                                    <div class="col-md-9 text-left">
                                       <div>Bought on {{is_time_format_24?(service.parseDTime(p.created_at) | date:'MMMM dd, yyyy HH:mm'):(service.parseDTime(p.created_at) | date:'MMMM dd, yyyy hh:mm a')}}</div>
                                       <div class="newevent-font">Event Package - {{p.number_of_attendee}} Delegates</div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                       <div class="btn-newevent btn-primary-black-newevent text-hover" ng-click="createEvent(p.ep_code)"> Create an Event With<br/> this Package</div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                           <div class="gray ticket-top-btn">For more,</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4 text-center">
                     <div class="col-md-12 margin-top20">
                        <div class="col-md-8 col-md-offset-2 ">
                           <a href="/buy-event" ><button class="btn01 btn-primary-black " >Buy an Event Package</button></a>
                        </div>
                     </div>
                     <div class="padding-div">
                        <div class="row">
                           <div class="main-header-Bold newevent">YARA Key</div>
                           <div class="gray">Enter the unique code here</div>
                        </div>
                        <br/><br/>
                        <form   novalidate accessible-form name="yarakeyform" ng-init="submitted=false" ng-init="wrongKey=false" ng-submit="(yarakeyform.yarakey.$valid) ? yaraKey():submitted=true" >
                           <div class="col-md-12 ">
                              <textarea rows="1" class="textarea-input01 text-center" name="yarakey" ng-model="yarakey" placeholder="Enter YARA Key" required style="min-height:26px; border-bottom:1px solid #f2f2f2!important;" maxlength="19"></textarea>
                              <div style="height:1px; margin-top:10px;">
                                 <span style="color:red;" ng-show="submitted && !yarakeyform.yarakey.$valid">
                                 <span  ng-bind="'yara.required' | i18n ">Required</span>
                                 </span>
                              </div>
                              <!--  <span style="color:red" ng-show="(submitted && yarakey.length!==128 && yarakeyform.yarakey.$valid) ||wrongKey">
                                 <span  ng-bind="'yara.invalidKey' | i18n ">Invalid key</span>
                                 </span> -->
                           </div>
                           <div class="col-md-12 buy-margin">
                              <div class="col-md-8 col-md-offset-2 ">
                                 <button type="submit" class="btn01 btn-primary-black"  >REDEEM</button>
                                 <!-- data-toggle="modal" data-target="#myModal-invalid" -->
                              </div>
                        </form>
                        </div>
                     </div>
                     <!--  <div class="row">
                        <div class="">
                          <div class="main-header-Bold newevent">Free Event? Then <br/>YARA is 100% Free</div>
                        <div class="gray">Redeme your Yara key here policy Yara is <br/> Every feature is meticulously crafted in way</div>
                        </div>
                        </div>
                        <div class="col-md-12 buy-margin">
                          <div class="col-md-8 col-md-offset-2 ">
                            <a href=""><button class="btn01 btn-primary-black" >Apply for Free Event</button></a>
                          </div>
                        </div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Upload Cover image Modal window -->
      <div class="modal fade bg-color010" id="myModal-invalid" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog gatekeeper-popup" role="document" >
            <div class="modal-content modal-padding" >
               <div class="modal-header-top ">
                  <h4 class="modal-title modal-heading" id="myModalLabel" >YARA Key</h4>
               </div >
               <div class="modal-body1">
                  <div  >
                     <form novalidate >
                        <div class="row">
                           <div class="col-md-12 bg-collaborator text-center" ng-bind="errorMsg" ng-show="invalid==false" >
                              Invalid YARA Key
                           </div>
                           <div class="col-md-12 bg-collaborator text-center" ng-bind="'yara.invalidyaraKey' | i18n " ng-show="invalid" >
                              Invalid YARA Key
                           </div>
                           <div class="col-md-12 border-top">
                              <div class="col-md-10">
                                 <div  class=" text-danger">&nbsp;</div>
                              </div>
                              <div class="col-md-2 pulse-margin">
                                 <div  data-dismiss="modal" aria-label="Close" class="btn01 btn-primary-black-pulse01 text-hover">Cancel</div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- start footer-->
      <div ng-include-template="/event_footer" copyright="true"></div>
      <!---End footer---->
      </div>
      <script src="../../../static/dashboard/scripts/wow.min.js"></script>
      <script>
          new WOW().init();
      </script>
       <script>
         $(window).load(function() {
             //show();
         });
         $(document).ready(function(){
          // $('#loading').hide();
          // $('#container').fadeIn();
         });
         function show() {
             $('#loading').hide();
             $('#container').fadeIn();
         };
         
         //setTimeout(show, 100000);
          
      </script>
      <script>
         window.setTimeout( function() {
             $("textarea").height( $("textarea")[0].scrollHeight );
         }, 1);
      </script>
      <script>
         function h(e) {
             $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
         }
         $('textarea').each(function () {
           h(this);
         }).on('input', function () {
           h(this);
         });
      </script>
      {%endverbatim%}
   </body>
</html>