<!-- start footer-->
		<div class="nav navbar-inverse-dashboard navbar-fixed-bottom">
			<div class="container1">
				  <div class="pull-left ">
					<a href="http://thevoris.com" target="_blank"><img src="../../../static/dashboard/images/voris_logo_white.png?v=ecaa7b115a3929cd72f816a512002dbc"  class=" navbar-brand-dashboard"/></a>
				 </div>
				 <div class="navbar-text navbar-brand3-dashboard pull-right white-color">
					 &#169; <span ng-bind="copyDate"></span> Voris Systems Pvt Ltd. <a class="white-color text-hover" href="http://yara.io/legal"><u class="text-hover">Legal</u></a>
				 </div>
			</div>
		</div>
		<!---End footer---->