
		<!-- start footer-->
		<div class="nav  navbar-bottom footer-color" >
			<div class="container1">
				 <div class="pull-left">
					<a href="http://thevoris.com/" target="_blank"><img src="../../../static/dashboard/images/voris_logo.svg?v=832100d9bf0cb067154b2708cfeef744"  class="navbar-brand-signup1"/></a>
				 </div>
				 <div class="navbar-text  navbar-brand3-signup pull-right">
					 &#169; <span ng-bind="copyDate"></span> Voris Systems Pvt Ltd. <a class="legal text-hover" href="http://yara.io/legal"><u>Legal</u></a>
				 </div>
			</div>
		</div>
		<!---End footer--->