<!---header-->
		<div class="container navbar-fixed-top border" >
			<div class="col-md-12 white text-center ">
					<div class="col-md-1 nav-color main-header-signup01" style="text-align:left;"><a href="" back-button><img src="../../../static/dashboard/images/yara_logo.svg?v=ce9e59e2272c030c2954deb7d56f3267" width="100%"/></a></div>
					<div class="col-md-1 nav-color sub-header-border">&nbsp;</div>
					<div class="col-md-8 nav-color sub-header-small-events text-left" ng-bind="headerTitle"></div>
					
					</div>
			</div>
	<!----end header---->