<!doctype html>
<html>
   <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">
      <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">
      <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">
      <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">
      <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">
      <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">
      <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">
      <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">
      <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">
      <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">
      <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">
      <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
      <noscript>
         <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/js-disabled">
      </noscript>
      <title>YARA - Schedule Session</title>
      <link rel="stylesheet" href="../../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
      <link rel="stylesheet" href="../../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
      <link rel="stylesheet" href="../../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">
      <link rel="stylesheet" href="../../static/dashboard/css/customscrollbar.min.css?v=b72d1ff03f5d4322fda530affc8628fd">
      <!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
      <link rel="stylesheet" href="../../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
      <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
      <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyCV9Dg0e7cZQv4kV50S9eDUFQdIUCSN7RM"></script>
      <script src="../../../static/dashboard/scripts/angular.min.js?v=f92db09e0bdde7d9038cef646c71742f"></script>
      <!--<script src="scripts/ng-map.js?v=fa4660ddb497d70a54579dd676cb5f57"></script>-->
      <script src="../../../static/dashboard/scripts/angular-route.min.js?v=fde86ccbbd3888c419d6d002d930d6db"></script> <script src="../../../static/dashboard/scripts/angular-cookies.min.js?v=eb5752021baaa11be20ba6174708ee0c"></script> <script src="../../../static/dashboard/scripts/angular-sanitize.min.js?v=4b77ba7d10f6b45ef27d552f70b3ff84"></script> <script src="../../../static/dashboard/scripts/angular-localization.js?v=04ce5b438a710779bdda4c78771caf77"></script>
      <script src="../../../static/dashboard/scripts/angular-recaptcha.min.js?v=755358d59937bd7ef87d7a4f938a6523"></script>
      <!--  <script src="../../../static/dashboard/scripts/ui-bootstrap-tpls-0.14.3.js?v=4e74c1522478a99fc663d05d5e71729c"></script> -->
      <script src="../../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>
      <script src="../../static/dashboard/scripts/customscrollbar.min.js?v=ea9f31b6e94c00a389c0f19bb9a876f2"></script>
      <link rel="stylesheet" href="../../../static/dashboard/css/angular-material.min.css?v=324b61820a354c69f275793da4516197">
      <link rel="stylesheet" href="../../../static/dashboard/css/mdPickers.min.css?v=e7e0022313e47ca44e50fa9b895d77c0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script src="../../../static/dashboard/scripts/moment.min.js?v=18338685047bb998815d0fce225665f4"></script> 
      <script src="../../../static/dashboard/scripts/angular-animate.min.js?v=b5cd239b1ae96c9917a03372000dafe8"></script>
      <script src="../../../static/dashboard/scripts/angular-aria.min.js?v=7f3a52851887f3f03822c9159f8f46ff"></script> 
      <script src="../../../static/dashboard/scripts/angular-material.min.js?v=1bf69d5d0bcb732e4fa0734e5bd04232"></script> 
      <script src="../../../static/dashboard/scripts/mdPickers.js?v=d41e5980049501aec6cdf0bc90d81efd"></script>  
      <!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
      <script src="../../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
      <script src="../../../static/dashboard/scripts/app1.js?v=57fdba9d671ec2f607b71bdad449f34d"></script>
      <script src="../../../static/dashboard/scripts/angular-image-upload.js?v=e302af94162ccd72488ceb4bd6d5beea"></script>
      <script src="../../../static/dashboard/scripts/directives.js?v=a43d41739288e4904df6180ab01b634f"></script>
      <script src="../../../static/dashboard/scripts/Service.js?v=ad7dbf9fb3ca3d53bee05effed8dce9c"></script>         
      <script src="../../../static/dashboard/scripts/credentials.js?v=01d3d24491e8b134a9855d83bf466b93"></script>         
      <script src="../../../static/dashboard/scripts/ng-droplet.js?v=7da6daf2b481c0f3d6ce5811090c524e"></script>
      <script src="../../../static/dashboard/scripts/ng-map.js?v=32f203d7a258c29ca92dd8eea6ad08df"></script>
      <!---crop image---->
      <script src="../../../static/dashboard/scripts/jquery.cropit.js?v=b37d29875ced18ede72940fb6b0fba52"></script>
      <!--UI style---->
      <link rel="stylesheet" href="../../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->
      <script src="../../../static/dashboard/scripts/angular-material-datetimepicker.js?v=14468359f8a6e7b9efb7ae41163bee11"></script>
      <link rel="stylesheet" href="../../../static/dashboard/css/material-datetimepicker.min.css?v=841697f789974da72ac1053a7aeb3f4f">
      <style>
         body {
         color:#A9A9A9;
         }
         li.selected {
         color: #555;
         }
         svg {width: 25px; height: 25px;}
         svg path {fill: #fff !important;}
      </style>
   </head>
   <body ng-app="yara"  class="overflow-body01" ng-controller="CreateTimelineCtrl" >
      <!-- ng-controller="CreateTimelineCtrl" -->
      <div id="loading">
         <div id="fountainG">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
         </div>
         <div class="bg-loader">
         </div>
      </div>
      {%verbatim%}
      <div id="container" class="wrap01 ">
         <!---header-->
         <div class="container navbar-fixed-top border" >
            <div class="col-md-12 white text-center ">
               <div class="col-md-1 nav-color main-header-signup01" style="text-align:left;"><a href="" back-button><img src="../../../static/dashboard/images/yara_logo.svg?v=ce9e59e2272c030c2954deb7d56f3267" width="100%"/></a></div>
               <div class="col-md-1 nav-color sub-header-border">&nbsp;</div>
               <div class="col-md-3 nav-color session-header-title">
                  <div class="kit-font" ng-bind="currentval.name ">Event Title</div>
                  <div class="kitName">Add Session</div>
               </div>
            </div>
         </div>
         <!----end header---->
         <div class="container min-h" >
            <div class="row">
               <div class="col-md-12  " style="padding-right:0px; padding-left:0px;">
                  <br/>
                  <div class="btn-group" role="group" >
                     <ul class="container nav nav-tabs text-center" >
                        <li class=""><a class="tab-color tab-color-hover" ng-click="cancelSessionCreation()">Cancel</a></li>
                     </ul>
                  </div>
               </div>
               <!---start Session  -->
               <div class="">
                  <!-- submitted=true -->
                  <form accessible-form autocomplete="off" ng-init="submitted=false" novalidate ng-submit="errorScroll(); ((subtitle!=undefined ||subtitle!='')&&addedSpeker.length>0 && notimeDiff==false && notimeDiff1==false && sessionform.$valid)? addSession() :displayError() "  name="sessionform"  >
                     <div class="col-md-12 ticket-top">
                        <div class="col-md-4 col-md-offset-4 event-satup-top text-center">
                           <div class="gp-Name" >Choose Event Day</div>
                           <br/>
                           <div id="timeline-event-day" class="col-md-12  dropdown signup_input timeline-event-day session-border">
                              <nav  class="primary_nav_wrap_div primary_nav_wrap" >
                                 <ul class="over01 cursor-poi" >
                                    <li>
                                       <div class="col-md-10 col-md-offset-1 text-center container-remove-padding ">
                                          <span  class="subtitle vote-subtitle01 subtitle-font">Choose Event Day</span>
                                       </div>
                                       <div class="col-md-1 container-remove-padding">
                                          <img src="../../static/dashboard/images/arrow-down.png?v=5e51b404929f5b6be7d35478804ffb57" class="caret01">
                                       </div>
                                       <ul class="font-names timeline-top" style="margin-top: 31px!important;">
                                          <li ng-repeat="day in currentval.days|filter:{is_day_active:1}" ng-click="changeSubtype(day)"><a>{{day.dayTitle}}</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </nav>
                           </div>
                           <div class="col-md-5 col-md-offset-3" ng-show="dstapp" >
                              <div class="people-error text-left server-side-error-bg-red">
                                 <img src="../../../static/dashboard/images/info_white.png" class="server-side-error-bg-icon">&nbsp;
                                 <span class="text-white" ng-bind="'yara.dstapplicable'| i18n">dst applicabile here</span>
                              </div>
                           </div>
                           <!-- <div class="error-height"><a class="text-center text-danger" ng-show="dstapp" ng-bind="'yara.dstapplicable'| i18n"> dst applicabile here </a></div> -->
                           <div  class="error-height">
                              <a id="subtitleerr" class="text-center text-danger " ng-show="subtitle==''&&submitted" ng-bind="'yara.required' | i18n ">Required</a>
                           </div>
                           <br/>
                           <div id="timeline-event-track" class="col-md-12 dropdown track-height01 timeline-event-track session-border">
                              <nav  class="primary_nav_wrap_div primary_nav_wrap track-top" >
                                 <ul class="cursor-poi z-index8 width100" >
                                    <li>
                                       <div class="col-md-10 col-md-offset-1 text-center container-remove-padding">
                                          <span  class="tracktitle vote-subtitle01 subtitle-font "  >Select Track</span>
                                       </div>
                                       <div class="col-md-1 container-remove-padding">
                                          <img src="../../static/dashboard/images/arrow-down.png" class="caret01">
                                       </div>
                                       <ul class="font-names" style="margin-top: 34px;">
                                          <li ng-repeat="t in tracks | filter:checktrack" class="cursor-poi"><a ng-bind="t.name" ng-click="changeTrack(t)">Track 1</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </nav>
                              <div class="col-md-12 container-remove-padding text-right01 addtrack">
                                 <div class=" col-lg-5 col-lg-offset-9 mrg-right02 container-remove-padding" >
                                    <div class="col-md-12 text-hover container-remove-padding"  data-toggle="modal" data-target="#add-new-track" >
                                       <div class="col-lg-1 container-remove-padding">
                                          <div class="text-hover">
                                             <img src="../../static/dashboard/images/timeline-icon.png" class="timeline-caret01 timeline-plus-icon" style="width: 15px; height: 15px; margin-left: 9px;">
                                          </div>
                                       </div>
                                       <div class="col-md-10 container-remove-padding" style="margin-left: -10px;">
                                          Add New Track
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="col-md-6 col-md-offset-3 event-satup-top margin-bottom80" ng-if="noSpeaker&&trackSelected">
                           <div class="col-md-12 session-bg-color bg-red-schedule">
                              <div class="col-md-9 text-left session-border-no-speakers">
                                 <div class="gp-Name color-white schedule-no-speakers" >There are no Speakers. Check the following conditions:-</div><!-- {{speakerEngage?'Enable':'Disable'}} -->
                                 <div class="margin-top10 color-white">1. Check availability of Speakers in this event<br/>
                                 2. Check whether the available Speakers are enabled<br/>
                                 3. Check whether the Speakers are added to a Ticket on this Day
                                 </div>
                              </div>
                              <div class="col-md-3 session-check-no-speakers text-center">
                                  <a class="tab-color tab-color-hover margin00 color-white-schedule" href="/event/people">CLICK HERE</a>
                              </div>
                           </div>
                     </div>
                     <!-- <div  ng-if="!noSpeaker"> --><!----if speaker error message show hide this div------>
                     <div class="col-md-12 " ng-show="!noSpeaker">
                        <div class="col-md-4 col-md-offset-4 event-satup-top text-center">
                           <div class="gp-Name" >Duration</div>
                           
                           <br/>
                           <div class=" list-group-item padding_newevent border-none01 padding0"  id="timesec">
                              <div class="dashboardWell-timeline">
                                 <p class="col-md-12 input-group margin00 "  >
                                    <!----- Start Label time---->
                                    <label id="starttime" class="text-left bg-color-time time-picker-font break-session break-session-time-dot"  ng-hide="showTime" ></label>
                                    <!----End label time---->
                                    <input mdc-datetime-picker="" date="false" time="true" type="text" id="starttime" short-time="!is_time_format_24?true:false" placeholder="" format="{{timeformaType}}" ng-model="starttime" class="md-input inputbox-res01  text-center md-raised md-warn cursor-poi" ng-change="reqStarttime=false" name="starttime" min-date="EvtStart" max-date="EvtEnd" ng-init="reqStarttime=false">
                                    <div class="error-height">
                                    <span  ng-if="pastTime==1"><a class="text-center text-danger" ng-bind="showerror"> selected past time </a>
                                    </span></div>
                                 </p>
                                 <p class="col-md-12 input-group " >
                                    <!----- Start Label time---->
                                    <label id="starttime" class="text-left bg-color-time time-picker-font break-session break-session-time-dot" ng-hide="showTime" ></label>
                                    <!----End label time---->
                                    <input mdc-datetime-picker="" date="false" time="true" type="text" id="endtime" short-time="!is_time_format_24?true:false" placeholder="" min-date="starttime" max-date="EvtEnd" format="{{timeformaType}}" ng-model="endtime" class=" md-input inputbox-res01 md-raised md-warn text-center cursor-poi" ng-change="reqEndtime=false" name="endtime" ng-init="reqEndtime=false">
                                    <!--  </md-input-container> -->
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 text-center error-height ">
                           <span id='timediff' class="text-danger text-center"   ng-show="notimeDiff" ng-bind="'yara.sessiontimeDifference' | i18n ">minimum of 5 minutes difference required</span>
                           <span id='timediff' class="text-danger text-center" ng-show="notimeDiff1" ng-bind="'yara.greaterTime' | i18n">End time should be greater than start time</span>
                        </div>
                     </div>
                     <div class="col-md-12" ng-show="!noSpeaker">
                        <div class="col-md-4 col-md-offset-4 event-satup-top text-center ">
                           <div class="gp-Name" >Session Details</div>
                           <br/>
                           <input type="text" placeholder="Session Title" class="inputbox-timeline text-center" required  ng-model="stitle" name="stitle" capitalize-word="true" maxlength="100" ng-keydown="keyvalue=$event" ng-pattern="/\D{1}/">
                           <div class="error-height">
                              <span class="text-danger" ng-show="!sessionform.stitle.hasFocus &&  sessionform.stitle.$error.required && submitted" ng-bind="'yara.required' | i18n ">Required</span>
                           </div>
                           <div class="error-height">
                              <span class="text-danger" ng-show=" sessionform.stitle.$error.pattern" ng-bind="'yara.textrequired' | i18n ">textrequired</span>
                           </div>
                           <div class="row container-remove-margin">
                              <textarea  rows="1" placeholder="Session Description" name="sDesc"  class="textarea-input-details text-center subtitle-font"  required maxlength="800" minlength="50" ng-model="sDesc"  style="min-height:26px;margin-top:18px;" ng-pattern="/\D{1}/"></textarea>
                              <hr>
                              <div class="error-height">
                                 <span class="text-danger" ng-show=" !sessionform.sDesc.hasFocus && sessionform.sDesc.$error.required && submitted" ng-bind="'yara.required' | i18n ">Required</span>
                                 <span class="text-danger" ng-show=" !sessionform.sDesc.hasFocus &&  sessionform.sDesc.$error.minlength && submitted">Minimum 50 char</span>
                                 <span class="text-danger" ng-show="sessionform.sDesc.$error.pattern" ng-bind="'yara.textrequired' | i18n ">textrequired</span>
                              </div>
                           </div>
                           <!-- end location -->
                           <div class="col-md-12 container-remove-padding location-list">
                              <div class="schedule-location-height session-border" >
                                 <div class="primary_nav_wrap_div primary_nav_wrap location-top schedule_location_filebank" id="location_id">
                                    <div class="col-md-12 container-remove-padding" ng-click="showLoclist=true" ng-blur="showLoclist=false">
                                    <div  class="col-md-10 col-md-offset-1">
                                       <input stopccp type="text" placeholder="Location" class="inputbox-signup text-center locbox" autocomplete="off" name="spolocation" ng-model="spoLocation" ng-init="showLoclist=false" ng-change="locValidation(spoLocation)" ng-focus="showLoclist=true" required capitalize-word="true" ng-keydown="keyvalue=$event" id="locationinputid" ng-pattern="/\D{1}/">
                                    </div>
                                    <div class="col-md-1 container-remove-padding" ng-show="evtLoc.length>0" >
                                       <img src="../../static/dashboard/images/arrow-down.png" class="caret01 setup-timezone-arrow" style="float:left;" ng-click="showLoclist=true">
                                    </div>
                                    </div>
                                    <ul class="font-names dropdown-fixed-movement locationun" style="margin-top:30px; z-index: 99;" ng-if="showLoc&&showLoclist" id="locationdropdown">
                                       <li class="manually-margin01 cursor-poi loclist ng-scope" ng-repeat="el in evtLoc|filter:spoLocation|orderBy" ng-show="el.location!=''"><a ng-click="locationClick(el)" class="sponsor-timezone-dropdown location">{{el.location}}</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <br/>
                           <div class="error-height">
                              <span class="text-center text-danger" ng-show="isValidLoc" ng-bind="'yara.invalidLocation' | i18n ">
                              invalidLocation
                              </span>
                           </div>
                           <div class="error-height">
                              <span class="text-center text-danger" ng-show="sessionform.spolocation.$error.pattern" ng-bind="'yara.textrequired' | i18n ">
                              textrequired
                              </span>
                           </div>
                           <div class="error-height">
                              <span class="text-center text-danger" ng-show="(spoLocation==''||spoLocation==undefined ||spoLocation==null) && submitted" ng-bind="'yara.required' | i18n ">
                              Required
                              </span>
                           </div>
                           
                           <div class="error-height">
                              <span class="text-center text-danger" ng-show="tracktitle=='' && submitted" ng-bind="'yara.required' | i18n ">
                              Required
                              </span>
                           </div><br/>
                           <div id="timeline-event-sponser" class="col-md-12 dropdown track-height01 timeline-event-sponser session-border" style="z-index:2;" ng-if="(SPdata|filter:{is_enabled:true}).length>0">
                              <nav  class="primary_nav_wrap_div primary_nav_wrap track-top" >
                                 <ul class="over01 cursor-poi" >
                                    <li>
                                       <div class="col-md-10 col-md-offset-1 text-center container-remove-padding">
                                          <span  class="sponsertitle vote-subtitle01 subtitle-font" id="sponserid">Select Sponser</span>
                                       </div>
                                       <div class="col-md-1 container-remove-padding">
                                          <img src="../../static/dashboard/images/arrow-down.png" class="caret01">
                                       </div>
                                       <ul class="font-names" style="margin-top: 34px;">
                                          <li ng-repeat="spo in SPdata|filter:{is_enabled:true}" class="cursor-poi"><a ng-bind="spo.name" ng-click="changeSponser(spo)">Track 1</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                           <div class="col-md-6 col-md-offset-3 event-satup-top"  ng-if="(SPdata|filter:{is_enabled:true}).length==0">
                              <div class="col-md-12 session-bg-color">
                                 <div class="col-md-8 text-left session-border-white">
                                    <div class="gp-Name" >Sponsors</div>
                                    <div class="session-gray">A Session can be Sponsored by anyone.<br/>&nbsp;
                                    </div>
                                 </div>
                                 <div class="col-md-4 session-check10 text-center">
                                     <a class="tab-color tab-color-hover margin00" ng-click="addSponser()" >Add Sponsor</a>
                                 </div>
                              </div>
                           </div>
                     </div>
                     <br/>

                     <!----Start Location Conflicts---->
                     <div  class="col-md-12 event-satup-top text-left" ng-show="location_conflicts.length>0" id="locationdupe_id" ng-show="!noSpeaker && trackSelected">
                        <div class="col-md-6 col-md-offset-3 schedule-session-bg-color">
                           <div class="col-md-1 text-right01 container-remove-padding">
                              <img src="../../../static/dashboard/images/info_blue.svg?v=67e5e4b44db17478d8e2a9d67a19e74d" class="svg info-icon-black-team logo-img">
                           </div>
                           <div class="col-md-11">
                              <div class="sch-sess-header-des">Location Conflicts</div>
                           </div>
                           <div class="col-md-1 text-right01 container-remove-padding"></div>
                           <div class="col-md-11">
                              <div class="sch-sess-subheader-des">&nbsp;{{spoLocation}} is already engaged from {{starttime|date:'hh:mm a'}} to {{endtime|date:'hh:mm a'}}</div>
                           </div>
                           <br/>
                           <div class="col-md-1 text-right01"></div>
                           <div class="col-md-11">
                              <div class="sch-sess-list-des" ng-repeat="lc in location_conflicts|unique" ng-bind="lc" > - Clouding Computing </div>
                           </div>
                        </div>
                     </div>
                     <!----End Location Conflicts---->
                     <!----Start Session Duplicate---->
                     <div  class="col-md-12 ticket-top text-left" ng-show="session_duplicate" id="sessiondupe_id" ng-show="!noSpeaker&&trackSelected">
                        <div class="col-md-6 col-md-offset-3 schedule-session-bg-color">
                           <div class="col-md-1 text-right01 container-remove-padding">
                              <img src="../../../static/dashboard/images/info_blue.svg" class="svg info-icon-black-team logo-img">
                           </div>
                           <div class="col-md-11">
                              <div class="sch-sess-header-des">Session Duplicate</div>
                           </div>
                           <div class="col-md-1 text-right01 container-remove-padding"></div>
                           <div class="col-md-11">
                              <div class="sch-sess-subheader-des">&nbsp;Found a duplicate session at Location name from {{starttime|date:'hh.mm a'}} to {{endtime|date:'hh.mm a'}}</div>
                           </div>
                           <br/>
                           <div class="col-md-1 text-right01"></div>
                           <div class="col-md-11">
                              <div class="sch-sess-list-des" ng-bind="stitle"> - Clouding Computing, Hall 2 <br/> - Clouding Computing, Hall 3</div>
                           </div>
                        </div>
                     </div>
                     <!----End Session Duplicate---->
                     <div class="col-md-12" ng-show="!noSpeaker&&trackSelected">
                        <div class="col-md-4 col-md-offset-4 event-satup-top text-center">
                           <div class="gp-Name" >Speakers</div>
                           <br/>
                        </div>
                     </div>
                     <div class="col-md-12" ng-show="!noSpeaker&&trackSelected">
                        <div class="col-md-4 col-md-offset-4  text-center ">
                           <!-- adding speaker -->
                           <div class="col-md-12 container-remove-padding margin-bottom20" id="speakerid">
                              <div class="track-height01 session-border" >
                                 <nav class="primary_nav_wrap_div primary_nav_wrap track-top">
                                    <div class="col-md-12 container-remove-padding" ng-click="showSp=true" ng-blur="showSp=false">
                                    <div class="col-md-10 col-md-offset-1">
                                       <input class="inputbox-signup text-center" type="text" ng-model="searchSp" ng-init="showSp=false"  ng-change="showSp=true" placeholder="Select Speakers"  id="speakerinputid">
                                    </div>
                                    <div class="col-md-1 container-remove-padding">
                                       <img src="../../static/dashboard/images/arrow-down.png" class="caret01 setup-timezone-arrow" style="float:left;" ng-click="showSp=true">
                                    </div>
                                    </div>
                                    <ul  class="font-names schedule-speaker-dropdown" ng-show="showSp" id="speakerdropdown">
                                       <li class="manually-margin02" ng-repeat="s in SpkData|filter:searchSp| orderBy:'first_name'" ng-bind="s.first_name + ' ' + s.middle_name + ' ' + s.last_name" ng-click="speakerAdd(s,SpkData.indexOf(s))"></li>
                                    </ul>
                                 </nav>
                                
                              </div>
                           </div>
                           <!-- end adding speaker -->
                           <div class="error-height">
                              <span class="text-danger" id="speaker_id" ng-show="addedSpeker.length<=0 && submitted">Required</span>   
                           </div>
                        </div>
                        <!-- listing added speaker -->
                        <div class="col-md-6 col-md-offset-3 container-remove-padding">
                           <p ng-show="speakers_conflict"  ng-bind="'yara.speakerConflict' | i18n:[sessionSttime,sessionEndtime]" class="text-danger text-center" style="height: 2px;">conflicts in speaker</p>
                              <ul class="font-names schedule-box" ng-show="addedSpeker.length>=1" >
                                 <li class="list-group-item schedule-box-item" ng-repeat="s in addedSpeker">
                                    <div class="col-md-12 container-remove-padding">
                                       <div class="resizing-input02">
                                          
                                          <img ng-src="{{s.profile_picture|imagefilterQ1}}" class="schedule-speaker-logo">
                                          <span class="text-border-right">{{s.first_name + ' ' + s.middle_name + ' ' + s.last_name}}</span>
                                          <span style="float: right;width: 24px;"><img  src="../../../../static/dashboard/images/close-image.png?v=03582090da318e8f993db81d6b91d924" width="100%" ng-click="removeSpeaker(s,addedSpeker.indexOf(s))" ></span>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                        </div>
                        <!-- end listing added speaker -->
                     </div>
                     <!--------Start-------->
                     <div class="col-md-12" ng-show="!noSpeaker&&trackSelected">
                        <div class="col-md-6 col-md-offset-3 margin-top-bottom70 text-center container-remove-padding">
                           <div class="col-md-12 session-bg-color">
                              <div class="col-md-8 text-left session-border-white">
                                 <div class="gp-Name" >SessionEngage</div><!-- {{speakerEngage?'Enable':'Disable'}} -->
                                 <div class="session-gray">SessionEngage enables the delegates and speakers to interact with each other in an effective manner with ease.
                                 </div>
                              </div>
                              <div class="col-md-4 session-check">
                                  <label class="switch01">
                                       <input type="checkbox" ng-model="speakerEngage" ng-click="" ng-checked="speakerEngage" ng-true-value="true"  ng-false-value="false" class="switch01-input">
                                       <span class="switch01-label" ></span><!-- data-on="On" data-off="Off"-->
                                       <span class="switch01-handle"></span>
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-----End------------>
                     <div class="row" ng-show="!noSpeaker&&trackSelected">
                        <div class="col-md-12" style="display: flex;">
                           <div class="people-error text-left server-side-error-bg-red" ng-show="errormsg">
                           <img src="../../../static/dashboard/images/info_white.png" class="server-side-error-bg-icon">&nbsp;
                           <span class="text-white "  ng-bind="showerror">error</span>
                           </div>
                        </div>
                        <div class="col-md-2 col-md-offset-5 button-top margin-top30">
                           <button type="submit" class="btn btn-primary-black" ng-disabled="speakers_conflict||session_duplicate||notimeDiff||notimeDiff1||noSpeaker||isValidLoc" ng-bind="btnName">Add Session</button>
                        </div>
                     </div>
                  <!-- </div> --><!--if there is no special speaker -->
                  </form>
               </div>
               <!-- End Session  -->
            </div>
         </div>
         <!-- Track Modal window -->
         <div class="modal fade bg-color010 " id="add-new-track" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog gatekeeper-popup" role="document">
               <div class="dashboardWell-agreement">
                  <div class="modal-content modal-padding" >
                     <div class="modal-header-top ">
                        <h4 class="modal-title modal-heading" id="myModalLabel" >Add New Track</h4>
                     </div >
                     <div class="modal-body1">
                        <div  >
                           <form name="trackform" ng-submit="trackform.$invalid?submittedTrack=true : addtrack(trackform);" novalidate ng-init="submittedTrack=false"  >
                              <div class="row">
                                 <div class="col-md-12 " >
                                    <div class="dashboardWell" style="padding: 7% 15%;">
                                       <input type="text" placeholder="Track Name" name="trackname" ng-model="trackname" capitalize-word="true" ng-keydown="keyvalue=$event" ng-change="invalidTrack=false;already_exist=false" class="inputbox-timeline text-center" required >
                                       <span class="text-danger text-center error-height" ng-show="submittedTrack && trackform.trackname.$invalid">
                                       <span ng-show="trackform.trackname.$error.required">Required</span>
                                       </span>
                                       <span  class="text-danger text-center error-height" ng-show="invalidTrack" ng-bind="'yara.invalidTrack' | i18n"></span>
                                       <span ng-show="already_exist" class="text-danger text-center error-height" ng-bind="errdata"></span>
                                    </div>
                                 </div>
                                 <div class="col-md-12 border-top ticket-top01">
                                    <div class="col-md-8">
                                       <div class="btn01 btn-primary-black-pulse01-red text-left" ng-show="errormsgtrack" ng-bind="trackdata.error"> </div>
                                    </div>
                                    <div class="col-md-2 pulse-margin">
                                       <div  data-dismiss="modal" aria-label="Close" class="btn01 btn-primary-black-pulse01 text-hover" ng-click="invalidTrack=false;already_exist=false;trackname=''">Cancel</div>
                                    </div>
                                    <div class="col-md-2"><button type="submit"  class="btn01 btn-primary-black-pulse01 text-hover" >Add Track</button></div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div ng-include-template="/event_footer" copyright="true" id="footer123"></div>
      </div>
      <script type="text/javascript">
         $(function(){
           jQuery('img.svg').each(function(){
               var $img = jQuery(this);
               var imgID = $img.attr('id');
               var imgClass = $img.attr('class');
               var imgURL = $img.attr('src');
           
               jQuery.get(imgURL, function(data) {
                   // Get the SVG tag, ignore the rest
                   var $svg = jQuery(data).find('svg');
           
                   // Add replaced image's ID to the new SVG
                   if(typeof imgID !== 'undefined') {
                       $svg = $svg.attr('id', imgID);
                   }
                   // Add replaced image's classes to the new SVG
                   // if(typeof imgClass !== 'undefined') {
                   //     $svg = $svg.attr('class', imgClass+' replaced-svg');
                   // }
               // Replace image with new SVG
                   $img.replaceWith($svg);
           
               }, 'xml');
           
           });
         });
      </script>
      <!-- <script>
         $(document).ready(function(){
          $('#loading').hide();
          $('#container').fadeIn();
         });
      </script> -->
      <script>
         (function(jQuery){
           jQuery(window).load(function(){       
             jQuery(".font-names").mCustomScrollbar({
               theme:"dark",
               scrollInertia: 400,
               scrollButtons:{enable: true},   
               autoHideScrollbar: false, 
         
               autoExpandScrollbar: true,
               keyboard:{ enable: true }
             });       
           });
         })(jQuery);
      </script> 
      <script>
         // $(document).ready(function(){
         // $(document).on('click',".timeline-event-day .font-names  li",function() {
         //  $(".timeline-event-day img").removeClass();
         //  $(".timeline-event-day img").addClass('caret01');  
         // }); 
         //  $(document).on('click','.timeline-event-day .primary_nav_wrap ul li',function(){
         //     $(".timeline-event-day img").removeClass();
         //     $(".timeline-event-day img").addClass('caret02'); 
         //     $( ".timeline-event-day .primary_nav_wrap ul li ul").css({
         //       display:'list-item',
         //       color: '#000',
         //       'z-index':100
         //     });
         // });
         //  $(document).on('click',".timeline-event-track .font-names  li",function() {
         //  $(".timeline-event-track img").removeClass();
         //  $(".timeline-event-track img").addClass('caret01');  
         // }); 
         //  $(document).on('click','.timeline-event-track .primary_nav_wrap ul li',function(){
         //     $(".timeline-event-track img").removeClass();
         //     $(".timeline-event-track img").addClass('caret02'); 
         //     $( ".timeline-event-track .primary_nav_wrap ul li ul").css({
         //       display:'list-item',
         //       color: '#000',
         //       'z-index':100
         //     });
         // });
         //  $(document).on('click',".timeline-break-type .font-names  li",function() {
         //  $(".timeline-break-type img").removeClass();
         //  $(".timeline-break-type img").addClass('caret01');  
         // }); 
         //  $(document).on('click','.timeline-break-type .primary_nav_wrap ul li',function(){
         //     $(".timeline-break-type img").removeClass();
         //     $(".timeline-break-type img").addClass('caret02'); 
         //     $( ".timeline-break-type .primary_nav_wrap ul li ul").css({
         //       display:'list-item',
         //       color: '#000',
         //       'z-index':100
         //     });
         // });
         //  $(document).on('click',".timeline-speaker .font-names  li",function() {
         //  $(".timeline-speaker img").removeClass();
         //  $(".timeline-speaker img").addClass('caret01');  
         // }); 
         //  $(document).on('click','.timeline-speaker .primary_nav_wrap ul li',function(){
         //        $( ".timeline-speaker .primary_nav_wrap ul li ul").hide({
         //         display:'none',
         //         color: 'none',
         //         background: '#fff',
         //         'z-index':100
         //     });
         //        $(".timeline-speaker img").removeClass();
         //        $(".timeline-speaker img").addClass('caret01'); 
         //     $(this).parent().children( "img" ).removeClass();
         //     $(this).parent().children( "img" ).addClass('caret02'); 
         //     //console.log($(this).parent().children( "img" ));
         //     $( this ).children( " ul" ).css({
         //       display:'list-item',
         //       color: '#000',
         //       'z-index':100
         //     });
         // });
         // });
      </script>
      <script type="text/javascript">
         var $li = $('.over01 li').click(function() {
         $(this).addClass('selected');
         $('.over01 li span').removeClass('vote-subtitle01');
         
         });
      </script>
      <script>
         $(document).ready(function(){
             $('[data-toggle="tooltip"]').tooltip();   
         });
      </script>
      <script>
         function h(e) {
             $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
         }
         $('textarea').each(function () {
           h(this);
         }).on('input', function () {
           h(this);
         });
      </script>
      <script type="text/javascript">
         $(document).ready(function(){
          function resizediv(){
           var h =$(window).height();
           $('.height-top').css("height",h+"px");
          } 
          resizediv();
          $(window).resize(function(){
           resizediv();
          });
         });
      </script>
      {%endverbatim%}
   </body>
</html>