<!doctype html>
<html>
   <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">
      <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">
      <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">
      <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">
      <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">
      <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">
      <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">
      <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">
      <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">
      <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">
      <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">
      <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
      <title>YARA</title>
      <link rel="stylesheet" href="../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
      <link rel="stylesheet" href="../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
      <link rel="stylesheet" href="../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">
      <!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
      <link rel="stylesheet" href="../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
      <!--<script src="scripts/ng-map.js?v=fa4660ddb497d70a54579dd676cb5f57"></script>-->
      <script src="../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>
      <!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
      <script src="../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
      <!--UI style---->
      <link rel="stylesheet" href="../../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->
   </head>
   <body >
      {%verbatim%}
      <!-- <nav class="navbar navbar-inverse-02 navbar-fixed-top" id="my-navbar">
         <div class="container1">
         	<div class="col-lg-12 navbar-header logo-center">
         		<a href="/dashboard" target="new" class="col-lg-12 navbar-brand-04 text-center" >
         			<img src="../../static/dashboard/images/yara_logo.svg?v=ce9e59e2272c030c2954deb7d56f3267" class="navbar-content"/>
         		</a>
         	</div>
         	
         </div>
         <div class="error-line"></div>
         </nav> -->
      <div class="well-step1 ">
         <!-- <img src="../../static/dashboard/images/signIn.jpg?v=94a4d79a91ef4548406e99d2671fd2df" height="100%" width="100%" style="position:absolute;"/> -->
         <div class="dashboardWell-not-supported">
            <div class="col-lg- white text-center error-width">
               <div class="content-nav01" id="browser">
                  <div class="dashboardWell-error">
                     <a  target="new" class="col-lg-12 navbar-brand-04 text-center" >
                     <img src="../../static/dashboard/images/yara_logo.svg" class="navbar-error-center"/>
                     </a>
                     <div class="nav-font-content-head">Your browser is not supporting</div>
                     <div class="nav-font-content">YARA Dashboard works best with the latest version of Safari, Chrome, Firefox or Opera.</div>
                  </div>
               </div>
               <div class="content-nav01" id="res">
                  <div class="dashboardWell-error top-mrg">
                     <a target="new" class="col-lg-12 navbar-brand-04 text-center" >
                     <img src="../../static/dashboard/images/yara_logo.svg" class="navbar-error-center"/>
                     </a>
                     <div class="nav-font-content-head">Device not supporting</div>
                     <div class="nav-font-content">Use desktop to access YARA Dashboard</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- start footer-->
      <div class="nav  navbar-fixed-bottom footer-error">
         <div class="container1">
            <div class="pull-left">
               <a href="http://thevoris.com/" target="new"><img src="../../../static/dashboard/images/voris_logo.svg?v=832100d9bf0cb067154b2708cfeef744"  class="navbar-brand-signup1"/></a>
            </div>
            <div class="navbar-text  navbar-brand3-signup pull-right">
               &#169; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> Voris Systems Pvt Ltd. <a class="legal" href="http://yara.io/legal"><u>Legal</u></a>
            </div>
         </div>
      </div>
      <!---End footer---->
      {%endverbatim%}
      <script>
         var nVer = navigator.appVersion;
         var nAgt = navigator.userAgent;
         var browserName  = navigator.appName;
         var fullVersion  = ''+parseFloat(navigator.appVersion); 
         var majorVersion = parseInt(navigator.appVersion,10);
         var nameOffset,verOffset,ix;
         if ((nAgt.indexOf("Edge"))!=-1) {
           browserName = "Edge";
         }
         // In Opera 15+, the true version is after "OPR/" 
         else if ((verOffset=nAgt.indexOf("OPR/"))!=-1) {
         browserName = "Opera";
         fullVersion = nAgt.substring(verOffset+4);
         }
         // In older Opera, the true version is after "Opera" or after "Version"
         else if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
         browserName = "Opera";
         fullVersion = nAgt.substring(verOffset+6);
         if ((verOffset=nAgt.indexOf("Version"))!=-1) 
         fullVersion = nAgt.substring(verOffset+8);
         }
         // In MSIE, the true version is after "MSIE" in userAgent
         else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
         browserName = "Microsoft Internet Explorer";
         fullVersion = nAgt.substring(verOffset+5);
         }
         // In Chrome, the true version is after "Chrome" 
         else if (((verOffset=nAgt.indexOf("Chrome"))!=-1) && ((nAgt.indexOf("Edge"))==-1)) {
         browserName = "Chrome";
         fullVersion = nAgt.substring(verOffset+7);
         }
         // In Safari, the true version is after "Safari" or after "Version" 
         else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
         browserName = "Safari";
         fullVersion = nAgt.substring(verOffset+7);
         if ((verOffset=nAgt.indexOf("Version"))!=-1) 
         fullVersion = nAgt.substring(verOffset+8);
         }
         // In Firefox, the true version is after "Firefox" 
         else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
         browserName = "Firefox";
         fullVersion = nAgt.substring(verOffset+8);
         }
         // In most other browsers, "name/version" is at the end of userAgent 
         else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) < 
            (verOffset=nAgt.lastIndexOf('/')) ) 
         {
         browserName = nAgt.substring(nameOffset,verOffset);
         fullVersion = nAgt.substring(verOffset+1);
         if (browserName.toLowerCase()==browserName.toUpperCase()) {
         browserName = navigator.appName;
         }
         }
         // trim the fullVersion string at semicolon/space if present
         if ((ix=fullVersion.indexOf(";"))!=-1)
         fullVersion=fullVersion.substring(0,ix);
         if ((ix=fullVersion.indexOf(" "))!=-1)
         fullVersion=fullVersion.substring(0,ix);
         
         majorVersion = parseInt(''+fullVersion,10);
         if (isNaN(majorVersion)) {
         fullVersion  = ''+parseFloat(navigator.appVersion); 
         majorVersion = parseInt(navigator.appVersion,10);
         }
         if(browserName!="Firefox" && browserName!="Safari" && browserName!="Chrome" && browserName!="Opera"){
            $('#res').hide();
            $('#browser').show();
         }
         else{
               if(browserName=="Edge"){
                  console.log(browserName);
               $('#res').hide();
               $('#browser').show();
               }else if(browserName=="Firefox" && Number(majorVersion)<40){
               $('#res').hide();
               $('#browser').show();
               }else if(browserName=="Safari" && Number(majorVersion)<9){
               $('#res').hide();
               $('#browser').show();
               }else if(browserName=="Chrome" && Number(majorVersion)<45){
               $('#res').hide();
               $('#browser').show();
               }else if(browserName=="Opera" && Number(majorVersion)<35){
               $('#res').hide();
               $('#browser').show();
               }else if(screen.width<1024 || navigator.userAgent.match(/android/i) || (navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))){
               $('#res').show();
               $('#browser').hide();
               }else{
                  window.location="/sign-in";
               }
         }
         
      </script>
   </body>
</html>