<!doctype html>
<html>
   <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">
      <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">
      <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">
      <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">
      <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">
      <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">
      <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">
      <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">
      <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">
      <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">
      <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">
      <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
      <title>YARA</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js?v=f9c7afd05729f10f55b689f36bb20172"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
   </head>
   <body >
      <!-- start header-->
      <nav  style="position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid #f2f2f2;margin:0 0px; background:#fff;display: -webkit-box;">
         <div style="padding:0 30px;">
            <div>
               <a href="/dashboard">
               <img src="https://corestaticresources.s3.amazonaws.com/yara/shared/images/yara_logo_black.png" style="float:left; width:90px; padding:20px 0;"/>
               </a>
            </div>
         </div>
      </nav>
      <!---End header---->
      <div style="width:100%; height:100%!important;top:0; min-height:20px; padding:0% 0; position:fixed; ">
         <div style="padding: 0% 10%; height: 100%; display: flex; justify-content: center; flex-direction: column;">
            <div style="text-align:center; ">
               <div style="width: 100%; height: 100%;">
                  <div style="height: 100%; display: flex; justify-content: center; flex-direction: column;">
                     <div><img src="https://corestaticresources.s3.amazonaws.com/yara/shared/images/yara_service_down_title.png?v=6145166a3ac52d6cd90b0f2c216ed102" style="width: 18%; margin: 30px 0;"></div>
                     <div style="font-size: 14px; width: 100%; font-weight: 400; line-height: 20px; font-family: 'arial'; margin: 6px 0; /* height: 18px; */ color: #9d9c9c;">We are a bit busy updating YARA.<br/> Will be back soon
                     </div>
                     <div style="font-size: 12px; width: 100%; line-height: 17px; margin: 18px 0; font-family: 'arial'; font-weight: 400; /* height: 18px; */ color: #9d9c9c;">For any queries, drop us a <br/>mail at <a href="mailto:happyhelp@yara.io" style="color:#000;">happyhelp@yara.io</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- start footer-->
      <div style="padding-left: 0; margin-bottom: 0; list-style: none;position: fixed; right: 0; left: 0; z-index: 1030;bottom: 0; margin-bottom: 0; border-width: 1px 0 0;border-top: 1px solid #f2f2f2; background-color: #fff; /* position: relative; */">
         <div style="padding: 0 30px;">
            <div style="float: left!important;">
               <a href="http://thevoris.com/" target="new"><img src="https://corestaticresources.s3.amazonaws.com/voris/shared/images/voris_logo_black.png"  style="float: left; width: 60px; padding: 13px 0;"/></a>
            </div>
            <div style="margin-top: 15px; margin-bottom: 15px;float: right;color: #000;font-weight: 300;    font-family: 'khula'; padding: 12px 0 7px 0; font-size: 11px; line-height: 0px;">
               &#169; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script> Voris Systems Pvt Ltd. <a style="color:#000;" href="http://yara.io/legal"><u>Legal</u></a>
            </div>
         </div>
      </div>
      <!---End footer---->
   </body>
</html>