<!doctype html>
<html>
	 <head>        
	 	<link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">       
	 <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">       
	 <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">       
	 <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">       
	 <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">       
	 <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">       
	 <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">       
	 <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">       
	 <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">       
	 <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">       
	 <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">       
	 <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">       
	 <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
		<noscript>
		<META HTTP-EQUIV="Refresh" CONTENT="0;URL=/js-disabled">
		</noscript>
		<link rel="stylesheet" href="../../../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
		<link rel="stylesheet" href="../../../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
		<link rel="stylesheet" href="../../../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">

		<!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
		<link rel="stylesheet" href="../../../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
		<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
		<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyBiLVnHVmK-3nm_MZvug6NjZmMdOQX_cm8"></script>
		<script src="../../../../static/dashboard/scripts/angular.min.js?v=f92db09e0bdde7d9038cef646c71742f"></script>

		<!--<script src="scripts/ng-map.js?v=fa4660ddb497d70a54579dd676cb5f57"></script>-->
		<script src="../../../../static/dashboard/scripts/angular-route.min.js?v=fde86ccbbd3888c419d6d002d930d6db"></script> <script src="../../../../static/dashboard/scripts/angular-cookies.min.js?v=eb5752021baaa11be20ba6174708ee0c"></script> <script src="../../../../static/dashboard/scripts/angular-sanitize.min.js?v=4b77ba7d10f6b45ef27d552f70b3ff84"></script> <script src="../../../../static/dashboard/scripts/angular-localization.js?v=04ce5b438a710779bdda4c78771caf77"></script>
		<script src="../../../../static/dashboard/scripts/angular-recaptcha.min.js?v=755358d59937bd7ef87d7a4f938a6523"></script>
        <script src="../../../../static/dashboard/scripts/ui-bootstrap-tpls-0.14.3.js?v=4e74c1522478a99fc663d05d5e71729c"></script>
		<script src="../../../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>

		<!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
		<script src="../../../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
		<script src="../../../../static/dashboard/scripts/app.js?v=cb63d6447409374df653b8707287ee36"></script>
		<script src="../../../../static/dashboard/scripts/angular-image-upload.js?v=e302af94162ccd72488ceb4bd6d5beea"></script>
		<script src="../../../../static/dashboard/scripts/directives.js?v=a43d41739288e4904df6180ab01b634f"></script>
        <script src="../../../../static/dashboard/scripts/Service.js?v=ad7dbf9fb3ca3d53bee05effed8dce9c"></script>         <script src="../../../../static/dashboard/scripts/credentials.js?v=01d3d24491e8b134a9855d83bf466b93"></script>         <script src="../../../../static/dashboard/scripts/ng-droplet.js?v=7da6daf2b481c0f3d6ce5811090c524e"></script>                               <script src="../../../../static/dashboard/scripts/ng-infinite-scroll.min.js?v=299bcea502c681c68093eb86f8c1bccf"></script> 
		<!--UI style---->
      <link rel="stylesheet" href="../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->

	</head>
	<body ng-app="yara">
        {%verbatim%}
<div class="container" ng-controller="AccountController">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<br/>
			<div class="btn-group" role="group">
  				<button type="button" class="btn btn-default" ng-init="step1=true" ng-click="step1=true" ng-class="{active: step1==true}">Credentials</button>
  				<button type="button" class="btn btn-default" ng-click="step1=false" ng-class="{active:step1==false}">Company Profile</button>
			</div>
			<div ng-show="step1">
				<h2>Voris Identity</h2>
				<h2>Credentials</h2>
				<form novalidate>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<input type="password" class="form-control" name="oldpwd" ng-model="oldpwd" placeholder="Old Password">
						<br/>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<input type="password" class="form-control" name="pwd" ng-model="pwd" placeholder=" New Password">
					</div>
				</div>
				<br/>
				<button type="submit" class="btn btn-lg btn-info" ng-click="changePassword()">Change Password</button>
				</form>
				<hr>
				<div>
					<h2>Close Account</h2>
					<button type="button" class="btn btn-lg btn-danger">Close Account</button>
					<p>Cannot close account if any events are in progress</p>
				</div>
			</div>
			<div ng-show="!step1">
				<h2>Company Profile</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<input type="file" ng-file-select="onFileSelect($files)" ng-model="cmpylogo" file-model="cmpylogo" accept="image/*" >
                        <b>Preview:</b><br />
                        <i ng-hide="imageSrc">No image choosed</i>
                        <img ng-src="{{imageSrc}}" class="img-responsive" /><br/>
					</div>
					<div class="col-md-6 text-left">
						<h3 class="text-center">Scoial</h3>
						<div class="row">
							<div calss="col-md-12">
								<br/>
                                <!--i class="fa fa-globe fa-5x "></i -->
                                <label>Web Domain</label>
                                <input type="text" name="eventweb" class="form-control" ng-model="eventweb">
							</div>
							<div calss="col-md-12">
								<br/>
                                <!--i class="fa fa-facebook fa-5x"></i -->
                                <label>Facebook</label>
                                <input type="text" name="eventfb" class="form-control" ng-model="eventfb" fb-url>
							</div>
							<div calss="col-md-12">
								<br/>
                                <!--i class="fa fa-twitter fa-5x"></i -->
                                <label>Twitter</label>
                                <input type="text" name="eventtwitter" class="form-control" ng-model="eventtwitter" twitter-url>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<input type="text" class="form-control" name="cmpyname" ng-model="cmpyname" placeholder="Company Name"/>
						<br/>
						<input type="email" class="form-control" name="cmpyemail" ng-model="cmpyemail" placeholder="Company Contact Email"/>
						<br/>
						<input type="text" class="form-control" name="cmpyph" ng-model="cmpyph" placeholder="Company Phone Number" is-number/>
						<br/>
						<input type="text" class="form-control" name="cmpyweb" ng-model="cmpyweb" placeholder="Company WebSite"/>
						<br/>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" name="cmpyaddr1" ng-model="cmpyaddr1" placeholder="Address Line 1"/>
						<br/>
						<input type="text" class="form-control" name="cmpyaddr2" ng-model="cmpyaddr2" placeholder="Address Line 2"/>
						<br/>
						<input type="text" class="form-control" name="cmpycity" ng-model="cmpycity" placeholder="Company City"/>
						<br/>
						<input type="text" class="form-control" name="cmpystate" ng-model="cmpystate" placeholder="State or Province"/>
						<br/>
						<input type="text" class="form-control" name="cmpycountry" ng-model="cmpycountry" placeholder="Country"/>
						<br/>
						<input type="text" class="form-control" name="cmpypin" ng-model="cmpypin" placeholder="Pin Code" is-number/>
						<br/>
					</div>
				</div>
				<button class="btn btn-lg btn-info">Save</button>
			</div>
		</div>
	</div>
</div>
        {%endverbatim%}
    </body>
</html>