<!doctype html>
<html>
   <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">
      <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">
      <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">
      <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">
      <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">
      <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">
      <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">
      <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">
      <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">
      <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">
      <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">
      <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
      <noscript>
         <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/js-disabled">
      </noscript>
      <link rel="stylesheet" href="../../../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
      <link rel="stylesheet" href="../../../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
      <link rel="stylesheet" href="../../../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">
      <link rel="stylesheet" href="../../../static/dashboard/css/animate.css">
      <!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
      <link rel="stylesheet" href="../../../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
      <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
      <!--<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyBWS1ixh32IoqlUI91JsGQxYCI_AxUJ8nI"></script>-->
      <script src="../../../../static/dashboard/scripts/angular.min.js?v=f92db09e0bdde7d9038cef646c71742f"></script>
      <!--<script src="scripts/ng-map.js?v=fa4660ddb497d70a54579dd676cb5f57"></script>-->
      <script src="../../../../static/dashboard/scripts/angular-route.min.js?v=fde86ccbbd3888c419d6d002d930d6db"></script> 
      <script src="../../../../static/dashboard/scripts/angular-cookies.min.js?v=eb5752021baaa11be20ba6174708ee0c"></script> 
      <script src="../../../../static/dashboard/scripts/angular-sanitize.min.js?v=4b77ba7d10f6b45ef27d552f70b3ff84"></script> 
      <script src="../../../../static/dashboard/scripts/angular-localization.js?v=04ce5b438a710779bdda4c78771caf77"></script>
      <script src="../../../../static/dashboard/scripts/angular-recaptcha.min.js?v=755358d59937bd7ef87d7a4f938a6523"></script>
      <script src="../../../../static/dashboard/scripts/ui-bootstrap-tpls-0.14.3.js?v=4e74c1522478a99fc663d05d5e71729c"></script>
      <script src="../../../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>
      <!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
      <script src="../../../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
      <script src="../../../../static/dashboard/scripts/app.js?v=cb63d6447409374df653b8707287ee36"></script>
      <script src="../../../../static/dashboard/scripts/angular-image-upload.js?v=e302af94162ccd72488ceb4bd6d5beea"></script>
      <script src="../../../../static/dashboard/scripts/directives.js?v=a43d41739288e4904df6180ab01b634f"></script>
      <script src="../../../../static/dashboard/scripts/moment.min.js?v=18338685047bb998815d0fce225665f4"></script> 
      <script src="../../../../static/dashboard/scripts/Service.js?v=ad7dbf9fb3ca3d53bee05effed8dce9c"></script>         
      <script src="../../../../static/dashboard/scripts/credentials.js?v=01d3d24491e8b134a9855d83bf466b93"></script>         
      <script src="../../../../static/dashboard/scripts/ng-droplet.js?v=7da6daf2b481c0f3d6ce5811090c524e"></script>                               <script src="../../../../static/dashboard/scripts/ng-infinite-scroll.min.js?v=299bcea502c681c68093eb86f8c1bccf"></script> 
      <!---crop image---->
      <script src="../../../../static/dashboard/scripts/jquery.cropit.js?v=b37d29875ced18ede72940fb6b0fba52"></script>
       <!--UI style---->
      <link rel="stylesheet" href="../../../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->
   </head>
   <body ng-app="yara" ng-controller="EventAdSpaceController" class="overflow-body01">
      <div id="loading">
         <div id="fountainG">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
         </div>
         <div class="bg-loader">
         </div>
      </div>
      {%verbatim%}
      <div id="container" class="wrap01">
         <!---header-->
         <div ng-include-template="/event_header" ng-init="headerTitle='AdSpace'"></div>
         <!----end header---->
         <div class="container height-top"   ng-class="{'ticket-top-btn':eventDaysInfo.length==1}">
            <div class="row">
               <div class="col-md-12 gp-width01 text-center"  ng-hide="adspaceSlots>0">
                  <div class="col-md-8 col-md-offset-2 gp-width-not">
                     <div class="gp-Name" ng-hide="expday==0 && !threetimediff || threetimediff" ng-bind="'yara.noAdspacePurchased' | i18n">AdSpace are yet to be purchased</div>
                     <div class="gp-Name adspace-top-btn01" ng-show="expday==0">AdSpace cannot be purchased for this day as <br/>the Event day is over.</div>
                     <a  ng-if="expday==1 && admincheck" ng-hide="threetimediff" ng-click="ForwordStore()" class="text-hover cursor-poi margin-top20">Buy AdSpace</a>
                     <div class="gp-Name adspace-top-btn01" ng-show="expday==1 && threetimediff"  ng-bind="'yara.lesshour' | i18n">less Hour</div>
                  </div>
               </div>
               <div class="col-md-10 text-center " ng-class="{'margin-top30':eventDaysInfo.length==1}"  style="padding-right:0px; padding-left:0px;">
                  <div class="container container-remove-padding adspace-slider-container" style="z-index: 9;" ng-show="eventDaysInfo.length>1">
                     <div class="col-md-12  slider-border ">
                        <div class="col-md-2 text-left gp-arrow-left adspace-slider-width2"><button id="go-left" class="icon-width-slider" ng-show="eventDaysInfo.length>3 && dbutton!=(eventDaysInfo.length-3)" ng-click="dbutton=1+dbutton;"><img src="../../../../static/dashboard/images/arrow-right.png?v=87dc69e36cee2088acaf4e40773d28eb" width="24px"/></button>
                        </div>
                        <div class="col-md-8 container-remove-padding adspace-slider-width8" >
                           <div class="slider"  style="z-index: 9;">
                              <!-- The slider -->
                              <div class="gp-adspace-color time-tab01" >
                                 <!-- ng-class="{'adspace-day01':$index==0}" -->
                                 <div ng-repeat="(key,d) in eventDaysInfo"  class="time-tab-adspace" ng-class="{'tab-align-center':eventDaysInfo.length==2}"><a class="nav-people-tab text-hover" data-toggle="tab" traget="_self" role="tab" ng-class="{'nav-people-tab-hover in':seltab==d.dayID}" ng-click="ADselecttab(d,key)" data-target="#day{{$index}}" ng-bind="d.dayTitle" ></a></div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2 text-right01 adspace-slider-width2"><button id="go-right" class="icon-width-slider" ng-show="eventDaysInfo.length>3 && dbutton!=0" ng-init="dbutton=(eventDaysInfo.length-3)" ng-click="dbutton=dbutton-1;"><img src="../../../../static/dashboard/images/arrow-left.png?v=3f291cc252dfaf3ecfb6ae35fdcb14bd" width="24px"/></button>
                        </div>
                     </div>
                  </div>
                  <div class=""  ng-show="adspaceSlots>0" >
                     <div id="active_event" >
                        <div class="row">
                           <div class="tab-content ">
                              <div class="tab-pane fade " ng-class="{'in active':$index==0, 'adspace-top':(eventDaysInfo.length>1)}" ng-repeat="d in eventDaysInfo" id="day{{$index}}">
                                <!--  <div class="col-md-12 gp-width01 text-center"  ng-hide="(timeSlotData | filter:{is_pushed:f_Delivery} ).length>0">
                                    <div class="col-md-10 gp-width-not">
                                       <div class="gp-Name" ng-if="f_Delivery">Delivered Ads not available</div>
                                       <div class="gp-Name" ng-if="!f_Delivery">Not Delivered Ads not available</div>
                                       <br/>
                                    </div>
                                 </div> -->
                                 <div class="col-md-12 wow animated  fadeInUp" data-wow-delay="0.1s"  ng-repeat="t in timeSlotData">
                                    <!-- | filter:{is_pushed:f_Delivery} | customOrderBy -->
                                    <div class="col-md-12 cursor-def list-group-item02 adspace-bottom text-left gp-padding"  style="cursor: auto;" ng-if="t.is_used">
                                       <div class="col-md-10 ">
                                          <div  class="col-md-12">
                                             <div class="color-blue event-font gp-font cursor-def" ng-bind="is_time_format_24?(setOffset(t.ads.display_time,currentval.eo)|date:'HH:mm'):(setOffset(t.ads.display_time,currentval.eo)|date:'hh:mm a')" >10:00 AM
                                             </div>
                                             <!-- {{t.image}} -->
                                             <div class="col-md-2 event-boxshadow" >
                                                <div class="event_logo" ng-style="{'background-image':'url('+t.ads.image+')'}">
                                                </div>
                                             </div>
                                             <div class="col-md-5 col-md-offset-2">
                                                <br/>
                                                <div class="gp-event-font ">Date Added:{{setOffset(t.ads.created_at,eventOffset) |date:'MMMM dd, yyyy '}}
                                                </div>
                                                <div class="gp-Name" ng-bind="t.ads.tittle" >Ad Title</div>
                                                <div class="gp-gray" >AdSpace Poster</div>
                                                <br/>
                                                <div class="event-font ">Link : <span ng-bind="t.ads. url"></span></div>
                                                <div class="gp-blue cursor-def" ng-if="!t.ads.is_pushed" >Yet to Deliver </div>
                                                <div class="gp-blue cursor-def" ng-if="t.ads.is_pushed">Delivered</div>
                                                <br/>
                                                <div class="event-tck" >Ad Delivery Time: <span ng-bind="is_time_format_24?(setOffset(t.display_time,eventOffset) |date:' MMMM dd yyyy, HH:mm'):(setOffset(t.display_time,eventOffset) |date:' MMMM dd yyyy, hh:mm a')"> 2.30</span></div>
                                                <!-- <div class="event-tck" >App Display Time : <span ng-bind="setOffset(t.display_time,eventOffset) |date:'MMMM dd yyyy hh mm a'"> 2.30</span></div> -->
                                                <div class="event-tck" >App Display Duration : <span ng-bind="t.ads.display_duration"> 20</span> minutes</div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-1 adspace-top-tck" ng-if="t.ads.is_pushed">
                                          <div ><img src="../../../../static/dashboard/images/checkmark.png?v=c644b665e5ed9102b58472c454d57293" width="55px"/></div>
                                       </div>
                                       <div class="col-md-12 " ng-if="!t.ads.is_pushed">
                                          <div class="col-md-3 col-md-offset-8  text-right01" ><a href="" class="gp-blue" data-toggle="modal" data-target="#adspace-change" ng-click="editAd(t)" ng-if="isSlotAvilabile(t.display_time) && expday==1 && (timeSlotData.length-nonDeliverdAds.length!=0)" >Change Time Slot</a></div>
                                          <div ng-if="isSlotAvilabile(t.display_time) && expday==1" class="col-md-1 gp-blue " ><a href="" class="gp-color-delete" data-toggle="modal" data-target="#adspace-delete" ng-click="revokeAd(t)">Revoke</a></div>
                                       </div>
                                    </div>
                                    <div class="col-md-12 cursor-def list-group-item02 text-left adspace-left-div01" ng-if="!t.is_used" ng-class="{'slot-expire-color':(!isSlotAvilabile(t.display_time))}">
                                       <div class="col-md-12">
                                          <div  class="col-md-10">
                                             <div class="color-blue event-font gp-font-adspace cursor-def" ng-bind="is_time_format_24?(setOffset(t.display_time,eventOffset)|date:'HH:mm'):(setOffset(t.display_time,eventOffset)|date:'hh:mm a')">10.30 AM</div>
                                          </div>
                                          <div  class="col-md-2">
                                             <div class="color-blue event-font gp-font-adspace" ng-click="reachSlotlimit?buyAds():(isSlotAvilabile(t.display_time)?createSlot(seltab,t.display_time, t):'')" ng-if="isSlotAvilabile(t.display_time) && expday==1" ng-show="allocatedSlotsCount!=adspaceSlots"><img src="../../../../static/dashboard/images/adspace-icon.png?v=564b0e8c94407707413de019ac06076f" width="30px" /></div>
                                             <div class="margin-top6" ng-if="!isSlotAvilabile(t.display_time)" ng-bind="'yara.slot_not_avaliable'| i18n">no slot</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class=" gp-width01 text-center" ng-show="f_Delivery!='all' && timeSlotData.length==0">
                                     <div class="col-md-6 col-md-offset-3 gp-width-not">
                                         <div class="gp-Name" >No results found</div>
                                     </div>
                                 </div>
                                 <!-- <div class="col-md-12" >
                                    <div class="col-md-12 cursor-def list-group-item02 adspace-bottom text-left "  style="cursor: auto;">
                                                          <div class="col-md-12">
                                                           <div  class="col-md-12">
                                                           <div class="color-blue event-font gp-font cursor-def" >10.15 AM</div>
                                                           <div class="col-md-2 event-boxshadow" ><div class="event_logo" style="background-image:url('../../../../static/dashboard/images/event-ready.png?v=0ef3b931ea542375ad177466d96f0d08');">
                                          </div>
                                          </div>
                                           <div class="col-md-5 col-md-offset-1"><br/>
                                                               <div class="-gp-event-font ">Date Added</div>
                                                               <div class="gp-Name" >Ad Title</div>
                                                               <div class="gp-gray" >AdSpace Poster</div><br/>
                                                               <div class="event-font ">Link: http://www.thevoris.com/leap</div>
                                                               <div class="gp-blue cursor-def" >Yet to Deliver </div><br/>
                                                               <div class="event-tck" >Ad Delivery Time: : 2.30</div>
                                                               <div class="event-tck" >App Display Time : 3.00</div>
                                                               <div class="event-tck" >App Display Duration : 20 minutes</div>
                                                             
                                                           </div>
                                                         </div>
                                                            
                                                        </div>
                                                        <div class="col-md-12 ">
                                                               <div class="col-md-3 col-md-offset-8  text-right01" ><a href="" class="gp-blue" data-toggle="modal" data-target="#adspace-change" >Change Time Slot</a></div>
                                                               <div class="col-md-1 gp-blue " ><a href="" class="gp-color-delete" data-toggle="modal" data-target="#adspace-delete" >Revoke</a></div>
                                                          </div>
                                                       </div>
                                                     
                                                   </div> -->
                                 <!--  <div class="col-md-12" >
                                    <div class="col-md-12 cursor-def list-group-item02 text-left adspace-left-div01" >
                                                          <div class="col-md-12">
                                                           <div  class="col-md-10">
                                                           <div class="color-blue event-font gp-font-adspace cursor-def" >10.30 AM</div>
                                                          </div>
                                                          <div  class="col-md-2">
                                                           <div class="color-blue event-font gp-font-adspace" ><img src="../../../../static/dashboard/images/adspace-icon.png"width="30px" /></div>
                                                          </div>
                                                       </div>
                                                       </div>
                                                     
                                                   </div> -->
                                 <!------Start AdSpace not available---->
                                 <!-- <div class="col-md-12 gp-width01">
                                    <div class="col-md-6 col-md-offset-3 gp-width-not">
                                               <div class="gp-Name" >AdSpace not available</div><br/>
                                               <div class="event-font ">AdSpace for Day 2, January 21 2016<br/>
                                    has not been purchased</div><br/>
                                               <div class="gp-blue" >Buy AdSpace</div>
                                    </div>
                                    </div> -->
                                 <!------End AdSpace not available---->
                              </div>
                           </div>
                        </div>
                        <br/><br/><br/><br/>
                     </div>
                  </div>
               </div>
               <div class="col-md-2 " ng-show="adspaceSlots>0" ng-class="{'ticket-top-btn1':eventDaysInfo.length>1}">
                  <div style="position:fixed;" class="gp-padding-people02 gp-right-showcase-new" >
                     <div class="gp-blue text-hover" ><a ng-click="reachSlotlimit?buyAds():createSlot(seltab,'')" class="text-hover" ng-show="expday==1 && (timeSlotData.length-nonDeliverdAds.length!=0) && (allocatedSlotsCount!=adspaceSlots)">Add new Ad</a></div>
                     <div class="gp-blue text-hover" ng-click="ForwordStore()" ng-show="expday==1 && allocatedSlotsCount!=20 && (allocatedSlotsCount!=adspaceSlots)">Add more Spaces</div>
                     <br/>
                     <div class="gp-event-font " ng-if="(adSlots|filter:{is_used:true}).length>0" >VIEW OPTION</div>
                     <div class="gp-blue text-hover" ng-if="(adSlots|filter:{is_used:true}).length>0" ng-class="{'gp-black':f_Delivery==='all'}" ng-click="viewAds('all')"  >Show All</div>
                     <div class="gp-blue text-hover" ng-if="(adSlots|filter:{is_used:true}).length>0" ng-class="{'gp-black':f_Delivery===true}" ng-click="viewAds(true)" >Delivered Ads</div>
                     <div class="gp-blue text-hover" ng-if="(adSlots|filter:{is_used:true}).length>0" ng-class="{'gp-black':f_Delivery===false}" ng-click="viewAds(false)" >Not Delivered Ads</div>
                     <br/>
                     <div class="gp-event-font " ng-if="showDecipher">ANALYTICS</div>
                     <div class="gp-blue text-hover" ng-if="showDecipher">View DeCipher</div>
                     <br/>
                     <div class="gp-event-font " ng-if="(adSlots|filter:{is_used:true}).length>0" >DELIVERY STATUS</div>
                     <!-- {{deliverdAds.length}} -->
                     <div class="event-font-adspace"  ng-if="deliverdAds.length>0">{{deliverdAds.length}} Delivered</div>
                     <!--{{nonDeliverdAds.length}}  -->
                     <div class="event-font-adspace" ng-if="nonDeliverdAds.length>0" >{{nonDeliverdAds.length}} to be Delivered</div>
                     <br/>
                     <div class="gp-event-font " >ADSPACE USAGE STATUS</div>
                     <div class="event-font-adspace" >Posters: {{allocatedSlotsCount}}/{{adspaceSlots}} </div>
                     <!-- <div class="event-font-adspace" >Motion: 3/5 </div> -->
                  </div>
               </div>
            </div>
         </div>
         <!-- Delete Modal window -->
         <div class="modal fade bg-color010 " id="adspace-delete" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog top-collaborator" role="document" >
               <div class="modal-content modal-padding" >
                  <div class="modal-header-top ">
                     <h4 class="modal-title modal-heading" id="myModalLabel" >Revoke</h4>
                  </div >
                  <div class="modal-body1">
                     <div  >
                        <form novalidate  name="postform" >
                           <div class="row">
                              <div class="col-md-12 bg-collaborator text-center" >
                                 Are you sure to revoke {{revokeAdObj.ads.tittle}}?
                              </div>
                              <div class="col-md-12 border-top">
                                 <div class="col-md-8">
                                    <div class=" text-danger">&nbsp; </div>
                                 </div>
                                 <div class="col-md-2 pulse-margin">
                                    <div  data-dismiss="modal" aria-label="Close" class="btn01 btn-primary-black-pulse01 text-hover">Cancel</div>
                                 </div>
                                 <div class="col-md-2">
                                    <div  class="btn01 btn-primary-black-pulse01-red text-hover" ng-click="DelAdspace()" >Revoke</div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- change Modal window -->
         <div class="modal fade bg-color010 " id="adspace-change" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog top-collaborator" role="document" >
               <div class="modal-content modal-padding" >
                  <div class="modal-header-top ">
                     <h4 class="modal-title modal-heading" id="myModalLabel" >AdSpace</h4>
                  </div >
                  <div class="modal-body1">
                     <div  >
                        <form novalidate  name="postform" >
                           <div class="row">
                              <div class="col-md-12 bg-border-adspace-new text-center" >
                                 <div>
                                    Change time slot for {{editAdObj.ads.tittle}}.
                                 </div>
                                 <br/>
                                 <div class="">
                                    <div class="row text-left ">
                                       <div class="col-md-10 col-md-offset-1 ">
                                          <!-- <div id="date_dropdown" class="col-md-12 dropdown signup_input date_dropdown" style="border-bottom: 1px solid rgb(242, 242, 242); z-index: inherit;text-align:left">
                                             <nav id="primary_nav_wrap" class="primary_nav_wrap">
                                                <ul class="over01" style="z-index:999">
                                               <li>
                                                <div class="col-md-10 col-md-offset-1 container-remove-padding" >
                                                         <div class="col-md-10 col-md-offset-1 container-remove-padding">
                                                      <span  id="datetitle" class="datetitle" ng-style="(dates.length<=0) ?{'color':'#b5b5bd'}:{'color':'#555'}" >Select Day</span>
                                                      <input stopccp type="text" id="subtitlesearch" class="inputbox-signup subtitlesearch" placeholder="Select Time Slot"  autocomplete="off"  ng-model="subtitlesearch" name="subtitlesearch">
                                                </div>
                                                <div class="col-md-1 container-remove-padding">
                                                      <img src="../../../../static/dashboard/images/arrow-down.png?v=5e51b404929f5b6be7d35478804ffb57" class="caret01">
                                                </div>
                                                <ul class="font-names" >
                                                                  <li ng-repeat="(k,d) in  days" ng-click="changeDate(k)" ><a >{{d.day_name}}</a></li>
                                                               <li ng-show="dates.length<=0 && ( subtitlesearch!='')  && dates.length >0 " ng-click="changeDate('')" ><a>No Result</a></li>
                                                               </ul>
                                                            </div>
                                                      </li>
                                                </ul>
                                             </nav>
                                             </div> -->
                                          <!-- <div class="text-danger text-center" ng-show="datetitle=='' && submittedEdit">
                                             Required
                                             </div> -->
                                          <div id="subtype_dropdown" class="col-md-12 dropdown signup_input subtype_dropdown" style="border-bottom: 1px solid rgb(242, 242, 242);text-align:left">
                                             <nav id="primary_nav_wrap" class="primary_nav_wrap">
                                                <ul class="over01" >
                                                   <li>
                                                      <div class="col-md-10 col-md-offset-1 container-remove-padding" >
                                                         <div class="col-md-10 col-md-offset-1 container-remove-padding">
                                                            <span  id="subtitle" class="subtitle" ng-style="(timeslot.length<=0) ?{'color':'#b5b5bd'}:{'color':'#555'}" >Select Time Slot</span>
                                                            <!-- <input stopccp type="text" id="subtitlesearch" class="inputbox-signup subtitlesearch" placeholder="Select Time Slot"  autocomplete="off"  ng-model="subtitlesearch" name="subtitlesearch"> -->
                                                         </div>
                                                         <div class="col-md-1 container-remove-padding">
                                                            <img src="../../../../static/dashboard/images/arrow-down.png" class="caret01">
                                                         </div>
                                                         <ul class="font-names01" >
                                                            <li ng-repeat="c in  timeSlotData | filter:{is_used:false}" ng-if="timeNow<setOffset(c.display_time,eventOffset)" ng-click="changeSubtype(c)" ><a >{{is_time_format_24?(setOffset(c.display_time,eventOffset)|date:'HH:mm'):(setOffset(c.display_time,eventOffset)|date:'hh:mm a')}}</a></li>
                                                            <!-- <li ng-show="slottime.length<=0 && timeslot.length >0 " ng-click="changeSubtype('')" ><a>No Result</a></li> -->
                                                         </ul>
                                                      </div>
                                                   </li>
                                                </ul>
                                             </nav>
                                          </div>
                                          <div class="text-danger text-center" ng-show="subtitle=='' && submittedEdit">
                                             Required
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-12 border-top">
                                 <div class="col-md-8">
                                    <div class=" text-danger">&nbsp; </div>
                                 </div>
                                 <div class="col-md-2 pulse-margin">
                                    <div  data-dismiss="modal" aria-label="Close" class="btn01 btn-primary-black-pulse01 text-hover ">Cancel</div>
                                 </div>
                                 <div class="col-md-2">
                                    <div  class="btn01 btn-primary-black-pulse01 text-hover" ng-click="subtitle=='' ? submittedEdit=true : EditAdspace()">Change</div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!----crop image---->
         <div class="modal fade" id="crop-image" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog gatekeeper-popup" role="document" >
               <div class="modal-content modal-padding" >
                  <div class="modal-header-top ">
                     <h4 class="modal-title modal-heading" id="myModalLabel" >Crop</h4>
                  </div >
                  <div class="modal-body1">
                     <div  >
                        <form novalidate  >
                           <div class="row">
                              <div class="col-md-12 bg-general crop-popup" >
                                 <div class="image-editor crop-popup">
                                    <input type="file" class="cropit-image-input">
                                    <div class="cropit-preview"></div>
                                    <div class="image-size-label">
                                    </div>
                                    <div class="crop-bottom"></div>
                                    <div class="slider-wrapper">
                                       <input type="range" class="cropit-image-zoom-input custom" min="0" max="1" step="0.01">
                                    </div>
                                    <div class="crop-top"></div>
                                 </div>
                              </div>
                              <div class="col-md-12 border-top">
                                 <div class="col-md-8">
                                    <div  class=" text-danger">&nbsp; </div>
                                 </div>
                                 <div class="col-md-2 pulse-margin">
                                    <div class="btn01 btn-primary-black-pulse01 text-hover"data-dismiss="modal" aria-label="Close"  ng-click="resetCropImg()">Cancel</div>
                                 </div>
                                 <div class="col-md-2 pulse-margin">
                                    <div  class="btn01 btn-primary-black-pulse01 text-hover" ng-click="setCropImg()">Crop</div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!---footer--->
         <!-- start footer-->
         <div ng-include-template="/event_footer" copyright="true" id="footer123"></div>
         <!-- ng-class="{'navbar-fixed-bottom':(timeSlotData | filter:{is_pushed:f_Delivery} ).length<=1}" -->
         <!---End footer---->
      </div>
      <script src="../../../../static/dashboard/scripts/jquery.diyslider.min.js?v=656471a334cc1a7d1c648f84c82e9d1c"></script>
      <script src="../../../static/dashboard/scripts/wow.min.js"></script>
      <script>
          new WOW().init();
      </script>
      <script type="text/javascript">
         $(document).ready(function(){
          function resizediv(){
           var h =$(window).height();
           $('.height-top').css("height",h+"px");
          } 
          resizediv();
          $(window).resize(function(){
           resizediv();
          });
         });
      </script>
      <script>
         $(document).ready(function(){
           $("#menutitlesearch").hide();
           $("#subtitlesearch").hide();
           $("#menutitlestatesearch").hide();
          $(document).on('click',".subtype_dropdown .font-names01  li",function() {
            $("#subtitlesearch").hide();
            $("#subtitle").show();
            $(".subtype_dropdown img").removeClass();
            $(".subtype_dropdown img").addClass('caret01');  
         });   
          $(document).on('click',".date_dropdown .font-names  li",function() {
            $("#datetitle").show();
            $(".date_dropdown img").removeClass();
            $(".date_dropdown img").addClass('caret01');  
         });   
         
         });
      </script>
      <script>
         $(window).load(function() {
             //show();
         });
         // $(document).ready(function(){
         //  $('#loading').hide();
         //  $('#container').fadeIn();
         // });
         function show() {
             $('#loading').hide();
             $('#container').fadeIn();
         };
         
         //setTimeout(show, 100000);
          
      </script>
      <script>
         $(document).ready(function(){
         $(".slider").diyslider({
             width: "100%", // width of the slider
             height: "51px", // height of the slider
              minSlides: 2, // number of slides you want it to display at once
             loop: false, // disable looping on slides
             moveSlides: 1,
         }); // this is all you need!
         
         // use buttons to change slide
         $("#go-left").bind("click", function(){
             // Go to the previous slide
             $(".slider").diyslider("move", "back");
         });
         $("#go-right").bind("click", function(){
             // Go to the previous slide
             $(".slider").diyslider("move", "forth");
         });
         });
      </script>
      {%endverbatim%}
   </body>
</html>