<!doctype html>
<html>
   <head>
      <link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">
      <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">
      <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">
      <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">
      <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">
      <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">
      <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">
      <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">
      <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">
      <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">
      <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">
      <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">
      <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
      <title>YARA</title>
      <noscript>
         <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/js-disabled">
      </noscript>
      <link rel="stylesheet" href="../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
      <link rel="stylesheet" href="../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
      <link rel="stylesheet" href="../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">
      <!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
      <link rel="stylesheet" href="../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
      <script src="../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>
      <!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
      <script src="../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
      <!--UI style---->
      <link rel="stylesheet" href="../../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->
      <script type="text/javascript">//<![CDATA[
         var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
         document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
         //]]>
      </script>
   </head>
   <body >
      <!-- <nav class="navbar navbar-inverse-02 navbar-fixed-top" id="my-navbar">
         <div class="container1">
         	<div class="col-lg-12 navbar-header">
         		<a href="/dashboard" target="new" class="col-lg-12 navbar-brand-04 text-center" >
         			<img src="../../static/dashboard/images/yara_logo.svg?v=ce9e59e2272c030c2954deb7d56f3267" class="navbar-content"/>
         		</a>
         	</div>
         	
         </div>
         <div class="error-line"></div>
         </nav>
         -->
      <div class="well-step1 ">
         <div class="dashboardWell-content-nav01">
            <div class="col-lg- white text-center text-content-error">
               <div class="content-nav01">
                  <div class="dashboardWell-error top-mrg">
                     <div class="col-lg-12">
                        <a  target="new" class=" navbar-brand-04 text-center" >
                        <img src="../../static/dashboard/images/yara_logo.svg" class="navbar-error-center"/>
                        </a>
                     </div>
                     <br/>
                     <div class="nav-font-content-head">{{heading}}</div>
                     <div class="nav-font-content">{{content}}</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- start footer-->
      <div class="nav  navbar-fixed-bottom" style="border-top:1px solid #f2f2f2;background-color: #fff;">
         <div class="container1">
            <div class="pull-left">
               <a href="http://thevoris.com" target="new"><img src="../../static/dashboard/images/voris_logo.svg?v=832100d9bf0cb067154b2708cfeef744"  class="navbar-brand-signup1"/></a>
            </div>
            <div class="navbar-text  navbar-brand3-signup pull-right">
               &#169; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear())</script>  Voris Systems Pvt Ltd. <!-- <a class="legal" href="http://yara.io/legal"><u>Legal</u></a> -->
            </div>
         </div>
      </div>
      <!---End footer---->
      <!--<script language="JavaScript" type="text/-->
      <!--javascript">-->
      <!--TrustLogo("https://yara.io/assets/images/comodo_sa_100x85_transp.png";, "SC5", "none");-->
      <!--</script>-->
      <!--<a href="https://ssl.comodo.com/ev-ssl-certificates.php"; id="comodoTL">EV SSL Certificate</a>-->
   </body>
</html>