<!---Start section---->
			
			<div class="nav-font-color footer-top nav-pad">
				&nbsp;
			</div>
		
		<!-- End Section -->
		<!-- start footer-->
		<div class="nav  navbar-bottom" style="border-top:1px solid #f2f2f2;">
			<div class="container1">
				 <div class="pull-left">
					<a href="http://thevoris.com" target="new"><img src="../../static/dashboard/images/voris_logo.svg?v=832100d9bf0cb067154b2708cfeef744"  class="navbar-brand-signup1"/></a>
				 </div>
				 <div class="navbar-text  navbar-brand3-signup pull-right">
					 &#169; <span ng-bind="copyDate"></span>  Voris Systems Pvt Ltd. <a class="legal text-hover" href="/legal"><u>Legal</u></a>
				 </div>
			</div>
		</div>
		<!---End footer--->