
       <!--  <div class=" navbar-fixed-top border" >
            <div class=" white text-center ">
              <div class="col-md-12">
                    <div class="col-md-1 nav-color main-header-modified-step2  container-remove-padding" style="text-align:left;"><a href="/dashboard"><img src="../../static/dashboard/images/yara_logo.svg?v=ce9e59e2272c030c2954deb7d56f3267"width="100%"/></a></div>
                   <!--  <div class="col-md-1 nav-color sub-header-border10">&nbsp;</div> -->
                    <!--  <div class="col-md-10 nav-color sub-header-small-collaborator10">
                        <div class="kit-font10"><div class="header-sh">Sign up for VORIS IDENTITY </div> </div>
                    </div>
          
                    </div>
                    </div>
            </div> --> 
    <!----end header---->
    <!---header-->
    <div class="container navbar-fixed-top border" style=" z-index: 10;">
      <div class="col-md-12 white text-center ">
          <div class="col-md-1 nav-color main-header-signup01" style="text-align:left;"><a><img src="../../../static/dashboard/images/yara_logo.svg" width="100%"/></a></div>
          <div class="col-md-1 nav-color sub-header-border">&nbsp;</div>
          <div class="col-md-3 nav-color sub-header-small-events container-remove-padding ">Sign up for Voris Identity</div>
          
          </div>
      </div>
  <!----end header---->
   