<!-- <!DOCTYPE html> -->
<html>

	 <head>        
	 	<link rel="apple-touch-icon" sizes="57x57" href="../../static/dashboard/images/favicon/apple-icon-57x57.png?v=043d79a62a93381cb6f07a0a674f2dc1">       
	 <link rel="apple-touch-icon" sizes="60x60" href="../../static/dashboard/images/favicon/apple-icon-60x60.png?v=6b158af1361075132ac39e5c93b568eb">       
	 <link rel="apple-touch-icon" sizes="72x72" href="../../static/dashboard/images/favicon/apple-icon-72x72.png?v=913000199947cb13e7c65f6b73a4a600">       
	 <link rel="apple-touch-icon" sizes="76x76" href="../../static/dashboard/images/favicon/apple-icon-76x76.png?v=e0deb075e7bbdf861c8d42440967795b">       
	 <link rel="apple-touch-icon" sizes="114x114" href="../../static/dashboard/images/favicon/apple-icon-114x114.png?v=2b7031f4836ece0909dd041fab7b4acb">       
	 <link rel="apple-touch-icon" sizes="120x120" href="../../static/dashboard/images/favicon/apple-icon-120x120.png?v=6e2396a9caf2940c49ab7dfc3fe98b33">       
	 <link rel="apple-touch-icon" sizes="144x144" href="../../static/dashboard/images/favicon/apple-icon-144x144.png?v=5ba24acbb4782a06696423ba63044290">       
	 <link rel="apple-touch-icon" sizes="152x152" href="../../static/dashboard/images/favicon/apple-icon-152x152.png?v=e4ab46001af0f91f99a91988a017bca5">       
	 <link rel="apple-touch-icon" sizes="180x180" href="../../static/dashboard/images/favicon/apple-icon-180x180.png?v=67ecdeb4128648d7139489328c677b1f">       
	 <link rel="icon" type="image/png" sizes="192x192"  href="../../static/dashboard/images/favicon/android-icon-192x192.png?v=904820e1d8bd3869d19056b3294d365b">       
	 <link rel="icon" type="image/png" sizes="32x32" href="../../static/dashboard/images/favicon/favicon-32x32.png?v=29d82d9c01ad85fc8b3ccd35b41b2996">       
	 <link rel="icon" type="image/png" sizes="96x96" href="../../static/dashboard/images/favicon/favicon-96x96.png?v=98b3ead44ec182b58426bc067c67c049">       
	 <link rel="icon" type="image/png" sizes="16x16" href="../../static/dashboard/images/favicon/favicon-16x16.png?v=1c4358642667863dc8e72942d2f30a58">
		<title>YARA - Sign Up</title>
		<noscript>
		<META HTTP-EQUIV="Refresh" CONTENT="0;URL=/js-disabled">
		</noscript>
		<link rel="stylesheet" href="../../static/dashboard/css/bootstrap.min.css?v=d75f0d9cd8f53e016fdc1c02951757ef">
		<link rel="stylesheet" href="../../static/dashboard/css/check-radio.css?v=6b6e567a2eaa17dc2680c02520c6c2a7">
		<link rel="stylesheet" href="../../static/dashboard/css/font-awesome.min.css?v=4fbd15cb6047af93373f4f895639c8bf">
		<link rel="stylesheet" href="../../static/dashboard/css/customscrollbar.min.css?v=b72d1ff03f5d4322fda530affc8628fd">
		<!--<link rel="stylesheet" href="css/angular-datepicker.css?v=1add81b088253b5ab8747f0553355f96">-->
		<link rel="stylesheet" href="../../static/dashboard/css/web_style.css?v=29ae3cab6f566f7b5e27c225b4801c0d">
		<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
		<!--<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyBiLVnHVmK-3nm_MZvug6NjZmMdOQX_cm8"></script>-->
		<script src="../../static/dashboard/scripts/angular.min.js?v=f92db09e0bdde7d9038cef646c71742f"></script>

		<!--<script src="scripts/ng-map.js?v=fa4660ddb497d70a54579dd676cb5f57"></script>-->
		<script src="../../static/dashboard/scripts/angular-route.min.js?v=fde86ccbbd3888c419d6d002d930d6db"></script>
        <script src="../../static/dashboard/scripts/angular-cookies.min.js?v=eb5752021baaa11be20ba6174708ee0c"></script>
        <script src="../../static/dashboard/scripts/angular-sanitize.min.js?v=4b77ba7d10f6b45ef27d552f70b3ff84"></script>
        <script src="../../static/dashboard/scripts/angular-localization.js?v=04ce5b438a710779bdda4c78771caf77"></script>
		<script src="../../static/dashboard/scripts/angular-recaptcha.min.js?v=755358d59937bd7ef87d7a4f938a6523"></script>
        <script src="../../static/dashboard/scripts/ui-bootstrap-tpls-0.14.3.js?v=4e74c1522478a99fc663d05d5e71729c"></script>
		<script src="../../static/dashboard/scripts/jquery-1.11.3.min.js?v=895323ed2f7258af4fae2c738c8aea49"></script>
		<script src="../../static/dashboard/scripts/customscrollbar.min.js?v=ea9f31b6e94c00a389c0f19bb9a876f2"></script>
		<!--<script src="scripts/angular-datePicker.js?v=98891a73c6d57c0a16be1eda2f73f93f"></script>-->
		<script src="../../static/dashboard/scripts/bootstrap.min.js?v=f7b127056538ea1fbd96cda9378a62cb"></script>
		<script src="../../static/dashboard/scripts/app.js?v=cb63d6447409374df653b8707287ee36"></script>
		<script src="../../static/dashboard/scripts/angular-image-upload.js?v=e302af94162ccd72488ceb4bd6d5beea"></script>
		<script src="../../static/dashboard/scripts/directives.js?v=a43d41739288e4904df6180ab01b634f"></script>
        <script src="../../static/dashboard/scripts/Service.js?v=ad7dbf9fb3ca3d53bee05effed8dce9c"></script>
        <script src="../../static/dashboard/scripts/credentials.js?v=01d3d24491e8b134a9855d83bf466b93"></script>
        <script src="../../static/dashboard/scripts/ng-droplet.js?v=7da6daf2b481c0f3d6ce5811090c524e"></script>                  <script src="../../static/dashboard/scripts/ng-infinite-scroll.min.js?v=299bcea502c681c68093eb86f8c1bccf"></script>
		<!--UI style---->
      <link rel="stylesheet" href="../../static/dashboard/css/UI-style.css?v=e4955a3966eadfcff7782b7b57ba784c">
      <link rel="stylesheet" href="../../static/dashboard/css/yantramanav.css">
      <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Yantramanav:500,400,300" rel="stylesheet">
      <!-- <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Khula:400,300' rel='stylesheet' type='text/css'> -->
		<!---crop image---->
    	<script src="../../../static/dashboard/scripts/jquery.cropit.js?v=b37d29875ced18ede72940fb6b0fba52"></script>
		<!-- Password strength checker -->
		<link href='../../static/dashboard/css/pwdwidget.css?v=e3267d69e4819b5eca79d504f6194248' rel="stylesheet">
		<script type="text/javascript" src="../../static/dashboard/scripts/pwdwidget.js?v=1da85ab3b56b37709c8aba0861f0b264"></script>


	
</head>

	<body ng-app="yara" ng-controller="Signuplevel2Controller">
		<div id="loading">
			<div id="fountainG">
				<div id="fountainG_1" class="fountainG"></div>
				<div id="fountainG_2" class="fountainG"></div>
				<div id="fountainG_3" class="fountainG"></div>
				<div id="fountainG_4" class="fountainG"></div>
				<div id="fountainG_5" class="fountainG"></div>
			</div>
		<div class="bg-loader01"></div>
		</div>
        {%verbatim%}
<div ng-include="'/signup_header'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" >

    <div class="nav-top-modified-step2">
		    <form accessible-form ng-submit="errorscroll1();(signup2Form.$invalid || (states.length>0 && ((state | isEmpty) || state=='')) || ((country | isEmpty) || country=='')) ? submitform1=true : signuplevel2(signup2Form)" autocomplete="off" style="" name="signup2Form" novalidate ng-show="nxtstep=='signupstep1'" ng-init="nxtstep='signupstep1'">
            <div class="container" ng-init="submitform1=false">
            <div class="col-md-4 col-md-offset-4">
            	{%endverbatim%}
            	<input type="hidden" value="{{signupfor}}" ng-model="orgEmail" id="orgEmail">
            	<input type="hidden" value="{{verification_id}}" ng-model="verId" id="verId">
            	{%verbatim%}
                <div class="nav-size-signup">Set Password</div>
				
			<div class='pwdwidgetdiv' id='thepwddiv'></div>
			<script  type="text/javascript" >
				var pwdwidget = new PasswordWidget('thepwddiv','pwd');
				pwdwidget.MakePWDWidget();
			</script>
			<div class="error-height">
			<span style="color:red;" ng-show="submitform1  || ( signup2Form.pwd.$touched &&  signup2Form.pwd.$invalid )">
				<span ng-show="!signup2Form.pwd.hasFocus && signup2Form.pwd.$error.required" ng-bind="'yara.required' | i18n " class="error-required">Required</span>
				<span ng-show="!signup2Form.pwd.hasFocus && signup2Form.pwd.$error.minlength && signup2Form.pwd.$touched" ng-bind="'yara.passwordLength' | i18n " style="height: 1px;">Password must be 8 characters long</span>
				<span ng-show="!signup2Form.pwd.hasFocus &&  !signup2Form.pwd.$error.required && !signup2Form.pwd.$error.minlength && signup2Form.pwd.$error.pwdpolicy" ng-bind="'yara.passwordPolicy' | i18n " style="height: 1px;">At least one uppercase and number is required</span>
			</span>
			</div>
			<br/>

			<input type="password" stopccp ng-model="cnfpwd" placeholder="Confirm Password " name="cnfpwd" required equals="{{pwd}}" class="inputbox" ng-focus="cnferr=false" ng-blur="cnferr=true" >
			<div class="error-height">
			<span style="color:red;" ng-show="!signup2Form.cnfpwd.hasFocus && (submitform1  || ( signup2Form.cnfpwd.$touched && signup2Form.cnfpwd.$invalid ))">
				<span ng-show="signup2Form.cnfpwd.$error.required" ng-bind="'yara.required' | i18n ">Required</span>
				<span ng-show="!signup2Form.cnfpwd.hasFocus && signup2Form.cnfpwd.$error.equals" ng-bind="'yara.passwordNotMatch' | i18n ">Password don't match</span>
				<br/> 
			</span>
			</div>
			<div class="nav-size-signup nav-top01">Organization Address</div>
			<!-- ng-options="c.name for (key,c) in countries" -->
			<!-- <select onchange="changeMe(this)" id="country" name="country" class="drop-select-signup inputbox text-left"  ng-model="country1" required>
                      <option value='' selected disabled>Select Country</option>
                    </select> -->
            
            <div id="country_dropdown" class="dropdown signup_input cursor-poi">
				    <nav id="primary_nav_wrap">
				    <ul class="over01" >
				      <li>
				
					<div class="col-md-12 container-remove-padding country-down" >
						<div class="col-md-10 col-md-offset-1 container-remove-padding">
					<span  id="menutitle" ng-style="((country | isEmpty) || country=='')?{'color':'#b5b5bd'}:{'color':'#555'}"  style="font-size: 17px;">Select Country</span><input stopccp type="text" id="menutitlesearch" placeholder="Select Country" class="inputbox-signup" autocomplete="off"  ng-model="countrysearch" name="countrysearch">
				</div>
				<div class="col-md-1 container-remove-padding">
					<img src="../../static/dashboard/images/arrow-down.png?v=5e51b404929f5b6be7d35478804ffb57" class="caret01">
				</div>
				</div>
				        <ul class="font-names mrg" >
				 			<li  ng-repeat="c in countrydata=(countries  |  custom:countrysearch ) | orderByDayNumber:'name' track by $index" ng-click="changeCountry(c,c.country_code)" ><a >{{c.name}}</a></li>
				 			<li ng-show="countrydata | isEmpty" ng-click="changeCountry('','')" ><a  ng-bind="'yara.noResult'| i18n" >No Result</a></li>
				        </ul>
				      </li>
				
				    </ul>
				    </nav>
				  </div>
			<div class="error-height">
			 <span style="color:red" ng-show="submitform1 || signup2Form.countrysearch.$touched">
				<span ng-show="!signup2Form.countrysearch.hasFocus && ((country | isEmpty) || country=='')" ng-bind="'yara.required'| i18n">Required</span>
			 </span>
			</div>
			 <div id="state_dropdown" class="dropdown signup_input cursor-poi" style="z-index:8;" ng-class="{'signup_input02': ((submitform1 || signup2Form.countrysearch.$touched) && ((country | isEmpty) || country==''))}" ng-show="states.length> 0 && !((country | isEmpty) || country=='')">
				    <nav id="primary_nav_wrap">
				    <ul  style="width:100%">
				      <li  >
				
					<div class="col-md-12 container-remove-padding" style="border-bottom: 1px solid rgb(242, 242, 242); z-index: inherit;
				width: 100%;text-align:left">
						<div class="col-md-10 col-md-offset-1  container-remove-padding">
							<span  id="menutitlestate" ng-style="((state | isEmpty) || state=='')?{'color':'#b5b5bd'}:{'color'	:'#555'}" style="font-size: 17px;">Select State/Province</span>
							<input stopccp autocomplete="off"  type="text" id="menutitlestatesearch" class="inputbox-signup" placeholder="Select State/Province" ng-readonly="(country | isEmpty) || country=='' " ng-model="statesearch" name="statesearch">
						</div>
						<div class="col-md-1 container-remove-padding">
						<img src="../../static/dashboard/images/arrow-down.png" class="caret01">
					</div>
				</div>
				
				        <ul class="font-names" style="margin-top:28px;">
				 			<li  ng-repeat="c in statedata=(states | unique  |  filter:statesearch:startsWith) | orderBy " ng-click="changeState(c)" ><a >{{c}}</a></li>
				 			<li ng-show="statedata | isEmpty" ng-click="changeState('')" ><a ng-bind="'yara.noResult'| i18n" >No Result</a></li>
				        </ul>
				      </li>
				 
				    </ul>
				    </nav>
				  </div>
				  	<div class="error-height">
						<span style="color:red" ng-show="submitform1 || signup2Form.statesearch.$touched">
							<span ng-show="!signup2Form.statesearch.hasFocus && (states.length>0 && ((state | isEmpty) || state==''))" ng-bind="'yara.required'| i18n">Required</span>
						</span>
					</div>
			 		<span ng-show="states.length<=0">
                     <br/>
                    <input type="text" name="state3" ng-model="state" class="inputbox" placeholder="Region" ng-show="states.length<=0"> 
                  	</span>
			<br/>
			<input stopccp ype="text" ng-model="Addrline1" required name="Addrline1" placeholder="Line 1" class="inputbox">
			<div class="error-height">
			<span style="color:red" ng-show="submitform1 || (signup2Form.Addrline1.$touched && signup2Form.Addrline1.$invalid)">
				<span ng-show="!signup2Form.Addrline1.hasFocus && signup2Form.Addrline1.$error.required" ng-bind="'yara.required'| i18n">Required</span>
			</span>
			</div>
			<br/>   
			<input stopccp type="text" ng-model="Addrline2"  name="Addrline2" placeholder="Line 2" class="inputbox">
                <br/>
			<input stopccp type="text" ng-model="city" name="city" required placeholder="City" class="inputbox auto-fill" maxlength="50">
			<div class="error-height">
			<span style="color:red" ng-show="submitform1 ||(signup2Form.city.$touched && signup2Form.city.$invalid)">
				<span ng-show="!signup2Form.city.hasFocus && signup2Form.city.$error.required" ng-bind="'yara.required'| i18n">Required</span>
			</span>
			</div>
			<br/>
			
			<input stopccp type="text" ng-model="pincode" name="pincode" required placeholder="Zip" maxlength="16" class="inputbox auto-fill">
			<div class="error-height">
			<span style="color:red" ng-show="submitform1 || (signup2Form.pincode.$touched && signup2Form.pincode.$invalid)">
				<span ng-show="!signup2Form.pincode.hasFocus && signup2Form.pincode.$error.required" ng-bind="'yara.required'| i18n">Required</span>
			</span>
			</div>
            <div class="nav-size-signup nav-top01">Organization Info</div>
				<!-- <div class="nav-font01">Fill up your Organization details</div> -->
			<input stopccp type="text" ng-model="cmpyTitle" placeholder="Organization Title" name="cmpytitle" required class="inputbox auto-fill" maxlength="50">
			<div class="error-height">
			<span style="color:red;" ng-show="submitform1 || (signup2Form.cmpytitle.$touched &&signup2Form.cmpytitle.$invalid) ">
				<span ng-show="!signup2Form.cmpytitle.hasFocus && signup2Form.cmpytitle.$error.required" ng-bind="'yara.required'| i18n">Required</span>
			</span>
			</div>
			<br/>
			<input stopccp type="email" ng-model="companyEmail" placeholder="Contact Email" name="cmpyemail" required class="inputbox auto-fill" validate-email ng-foucs="emailerr=false" ng-blur="emailerr=true">
			<div class="error-height">
			<span style="color:red;" ng-show="submitform1 || (signup2Form.cmpyemail.$touched && signup2Form.cmpyemail.$invalid )">

				<span ng-show="!signup2Form.cmpyemail.hasFocus && signup2Form.cmpyemail.$error.required" ng-bind="'yara.required'| i18n">Required</span>
                <span ng-show="!signup2Form.cmpyemail.hasFocus && signup2Form.cmpyemail.$error.email" ng-bind=" 'yara.invalidEmail' | i18n ">Invalid Email </span>
			</span>
			</div>
			<br/>
			<div class="col-md-12 container-remove-padding">
				<div class="col-md-5 container-remove-padding">

				<input stopccp type="text" ng-model="phDailCode" placeholder="Country Code" isdialcode name="phDailCode" ng-required="phdialreq"  class="inputbox text-center auto-fill" maxlength="8" >
				<div class="error-height">
				<span style="color:red;" ng-show="submitform1 || (signup2Form.phDailCode.$touched && signup2Form.phDailCode.$invalid )">
				<span ng-show="!signup2Form.phDailCode.hasFocus && signup2Form.phDailCode.$error.required"  ng-bind="'yara.required'| i18n">Required</span>
				</span>
				</div>
				</div>
				<div class="col-md-6 col-md-offset-1 container-remove-padding">
					<input stopccp type="text" ng-model="cmpyphone" placeholder="Phone" name="cmpyphone" required is-number minlength="4" class="inputbox auto-fill" maxlength="15" ng-foucs="pherr=false" ng-blur="pherr=true">
					<div class="error-height">
					<span style="color:red;" ng-show="submitform1 || (signup2Form.cmpyphone.$touched && signup2Form.cmpyphone.$invalid )">
						<span ng-show="!signup2Form.cmpyphone.hasFocus && signup2Form.cmpyphone.$error.required"  ng-bind="'yara.required'| i18n">Required</span>
						<span ng-show="!signup2Form.cmpyphone.hasFocus && signup2Form.cmpyphone.$error.minlength" ng-bind="'yara.invalidPhone'| i18n">Enter Valid Phone number</span>
					</span>
					</div>
			</div>
			</div>
			<br/>
			
		<!-- 	                 <div class="nav-size-signup nav-top01">Organization Info</div>
				<div class="nav-font01">Password policy Yara is a <br/>
				Every feature is meticulously crafted in way</div>
			<input type="text" ng-model="cmpyTitle" placeholder="Organization Title" name="cmpytitle" required class="inputbox" maxlength="20">
			<span style="color:red;" ng-show="signup2Form.cmpytitle.$dirty && signup2Form.cmpytitle.$invalid ">
				<span ng-show="signup2Form.cmpytitle.$error.required">Organization Tiltle Required</span>
			</span>
			<br/>
			<input type="email" ng-model="companyEmail" placeholder="Contact Email" name="cmpyemail" required class="inputbox" validate-email>
			<span style="color:red;" ng-show="signup2Form.cmpyemail.$touched && signup2Form.cmpyemail.$dirty && signup2Form.cmpyemail.$invalid ">
				<span ng-show="signup2Form.cmpyemail.$error.required">Organization Email Required</span>
                <span ng-show="signup2Form.cmpyemail.$error.email">Invalid Email ID</span>
			</span>
			<br/>
			<input type="text" ng-model="phDailCode" placeholder="Country Code" name="phDailCode" required  class="inputbox" >
			<input type="text" ng-model="cmpyphone" placeholder="Contact Phone" name="cmpyphone" required is-number minlength="10" class="inputbox" maxlength="15">
			<span style="color:red;" ng-show="signup2Form.cmpyphone.$dirty && signup2Form.cmpyphone.$invalid ">
				<span ng-show="signup2Form.cmpyphone.$error.required">Organization Phone Number Required</span>
				<span ng-show="signup2Form.cmpyphone.$error.minlength">Enter Valid Phone number</span>
			</span> -->
			  </div>
			<div class="col-md-12">
				<div class="col-md-12 ticket-top">&nbsp;</div>
				<div class="col-md-4 col-md-offset-4">
			<button type="submit" class=" btn btn-primary-black-signup01 " >Continue</button>
			</div>
           </div>
            </div>
		</form>
	</div>
		<form accessible-form name="signup3Form" ng-submit="checkEvntLogo(signup3Form);resetCoverimg();signup3Form.$valid && cmpyimageSrc ? signuplevel3(signup3Form) :submitted=false " ng-show="nxtstep=='signupstep2'" autocomplete="off" novalidate ng-init="submitted=true">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
			  <div class="sub-nav-size-signup">Upload Organisation Logo</div>
			 <!--  <div class="nav-font01">Logo specs and dimesntions is a <br/>Every feature is meticulously crafted in way</div> -->	
			  <br />
             <div ng-hide="cmpyimageSrc" class="logo-update" droplet  ng-model="cmpylogo">
			 <div class="sub-nav-size-signup icon">
				 <!-- <a data-toggle="tooltip" data-placement="right" title="Upload&nbsp;the&nbsp;Organization&nbsp;Logo " >

				 <img src="../../static/dashboard/images/info-icon.png?v=a1de70e5d3fedcbe46e85d2d41df189a"width="4%" />

				 </a> -->
				 
			 </div>
			 <div class="sub-heading-signup">
			 	 <img src="../../static/dashboard/images/image_upload_placeholder.png?v=7d539c1f656434ceaec3a5ebbe66836f" class="image_upload_placeholder"/>
			 <div class="sub-nav-size-invitation" id="logo">Logo</div>
			 <div class="nav-font-invitation">Drag and drop the file</div>
			  <div class="btn01 btn-primary-black-invitation black-signup01 text-hover">
			 <span>Choose an Image</span>
			 <!-- <input type="file" img-validate ng-file-select="onFileSelect($files)" placeholder="Upload" file-model="cmpylogo" required accept="image/*" name="cmpylogo" class=" " img-validate  ng-model="cmpylogo" > -->
			 <droplet-upload-single ng-model="cmpylogo" accept="image/*" name="cmpylogo" ></droplet-upload-single>
			 </div>
			 <div class="nav-font-invitation01">Minimum resolution <br/>1024 <a class="cross01">X</a> 1024<br/>Aspect Ratio - 1:1<br/>Max size - 5 MB</div>
			 </div>
			 </div><br/>
             <img ng-src="{{cmpyimageSrc}}" class="image-width" id="img-cmpylogo" ng-show="cmpyimageSrc"  />
             <div class="error-height">
			  <span style="color:red" >
			 	<span ng-show="signup3Form.cmpylogo.$error.invalidimg">Invalid Image File Type</span>
			 	<span ng-show="signup3Form.cmpylogo.$error.minsizeval" ng-bind="'yara.invalidImgSize'| i18n">File size should not exceed 5MB</span>
			 	<span ng-show="!signup3Form.cmpylogo.$error.minsizeval && signup3Form.cmpylogo.$error.ratioval" ng-bind="'yara.invalidImgR'| i18n:['1','1']">Aspect Ratio Should Be 1 : 1</span>
			 	<span ng-show="!signup3Form.cmpylogo.$error.minsizeval && signup3Form.cmpylogo.$error.minDimension" ng-bind="'yara.invalidImgD'| i18n:['1024','1024']">Minimum resolution 1024 X 1024</span>
			 	<span ng-show="!submitted && !cmpyimageSrc && !signup3Form.cmpylogo.$invalid" ng-bind="'yara.required'| i18n">Required</span>
			 </span>
			 </div>
			 <br/>
			<div class="col-md-12 signup_margin">
				<div class="col-md-6 ">
			 <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-repeat="model in cmpylogo.getFiles(cmpylogo.FILE_TYPES.VALID)" ng-click="model.deleteFile()">
			 <span>Remove</span>
			 <!-- <input type="file" img-validate ng-file-select="onFileSelect($files)" placeholder="Upload" file-model="cmpylogo" required accept="image/*" name="cmpylogo" class=" " img-validate  ng-model="cmpylogo" > -->
			 
			 </div>
			</div>
			<div class="col-md-6 ">
			  <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-repeat="model in cmpylogo.getFiles(cmpylogo.FILE_TYPES.VALID)">
			 <span>Change</span>
			 <droplet-upload-single ng-model="cmpylogo" accept="image/*" name="cmpylogo1" ></droplet-upload-single>
			 
			 </div>
			</div>
			</div>
			 	<br/><br/><br/>
			  <div class="sub-nav-size-signup">Upload Cover Image</div>
			  <div class="nav-font01">(Optional)</div>
			<!--   <div class="nav-font01">Why you need a cover image and dimesntions is a <br/>
				Every feature is meticulously crafted in way
				</div>	 -->
			  <br />
			   <div ng-hide="imageSrc1" class="logo-update" droplet  ng-model="coverimg">
			 <div class="sub-nav-size-signup icon-signup2">
				 <a  data-toggle="tooltip" data-placement="right" title="The&nbsp;cover&nbsp;image&nbsp;will&nbsp;be&nbsp;displayed on&nbsp;your&nbsp;profile">

				 <img src="../../static/dashboard/images/info-icon.png" width="4%"/>

				 </a>
			 </div>
			 <div class="sub-heading-signup">
			 	 <img src="../../static/dashboard/images/image_upload_placeholder.png" class="image_upload_placeholder"/>
			 <div class="sub-nav-size-invitation">Cover Image</div>
			 <div class="nav-font-invitation">Drag and drop the file</div>
			  <div class="btn01 btn-primary-black-invitation black-signup01 text-hover">
			 <span>Choose an Image</span>
			<!--  <input type="file" ng-file-selected="onFileSelect($files)" file-model="coverimg" required accept="image/*" name="coverimg" img-validate ng-model="coverimg"  class=""> -->
			 <droplet-upload-single ng-model="coverimg" accept="image/*" name="coverimg" ></droplet-upload-single>
			 </div>
			 <div class="nav-font-invitation01">Minimum resolution<br/>2048 <a class="cross01">X</a> 1024<br/>Aspect Ratio - 2:1<br/>Max size - 5 MB</div>
			 </div>
			 </div><br/>
             <img ng-src="{{imageSrc1}}" class="image-width" ng-show="imageSrc1" />
             <div class="error-height">
			 <span style="color:red" >
			 	<!-- <span ng-show="!submitted && !imageSrc1">Organization Cover Image Required</span> -->
			 	<span ng-show="signup3Form.coverimg.$error.invalidimg">Invalid Image File Type</span>
			 	<span ng-show="signup3Form.coverimg.$error.minsizeval" ng-bind="'yara.invalidImgSize'| i18n">File size should not exceed 5MB</span>
			 	<span ng-show="!signup3Form.coverimg.$error.minsizeval && signup3Form.coverimg.$error.ratioval" ng-bind="'yara.invalidImgR'| i18n:['2','1']">Aspect Ratio Should Be 2 : 1</span>
			 	<span ng-show="!signup3Form.coverimg.$error.minsizeval && signup3Form.coverimg.$error.minDimension" ng-bind="'yara.invalidImgD'| i18n:['2048','1024']">Minimum resolution should be 2048 X 1024</span>
			</span>
			</div>
            <br/>
			<div class="col-md-12 signup_margin">
				<div class="col-md-6 ">
			 <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-repeat="model in coverimg.getFiles(coverimg.FILE_TYPES.VALID)" ng-click="model.deleteFile()">
			 <span>Remove</span>
			 
			 </div>
			 </div>
			 <!-- <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-show="coverimg.getFiles(coverimg.FILE_TYPES.DELETED).length>0 && signup3Form.coverimg.$invalid" ng-click="resetCoverimg()">
			 <span>Clear</span>
			 
			 </div> -->
			
			<div class="col-md-6 ">
			 <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-repeat="model in coverimg.getFiles(coverimg.FILE_TYPES.VALID)" >
			 <span>Change</span>
			 <droplet-upload-single ng-model="coverimg" accept="image/*" name="coverimg1" ></droplet-upload-single>
			 </div>
			</div>
		</div>
			 	<br/><br/><br/>
			  <div class="sub-nav-size-signup">Organization Description</div>
			  <!-- <div class="nav-font01">Short summary of the Organization</div>	 -->
			<textarea ng-model="cmpyabt" rows="1" name="cmpyabt" minlength="100" maxlength="750"  placeholder="Description" ng-init="cmpyabt=''" class="inputbox ticket-top text-center"  required id="cmpyid" ng-pattern="/\D{1}/"></textarea>
			<div class="error-height">
			<span style="color:red;" ng-show="!submitted || signup3Form.cmpyabt.$dirty && signup3Form.cmpyabt.$invalid ">
				<span ng-show="!signup3Form.cmpyabt.hasFocus && signup3Form.cmpyabt.$error.required" ng-bind="'yara.required'| i18n">Required</span>
				<span ng-show="!signup3Form.cmpyabt.hasFocus &&  signup3Form.cmpyabt.$error.minlength || signup3Form.cmpyabt.$error.maxlength " ng-bind="'yara.descMinLenght'| i18n:['100','750']">Description should be of 100 to 750 Characters</span>
			</span>
			<span class="text-danger" ng-show="!submitted && !signup3Form.cmpyabt.hasFocus && signup3Form.cmpyabt.$error.pattern" ng-bind="'yara.textrequired' | i18n ">Required</span>
			</div>
			<br/>
           <br/><br/><br/>
			  <div class="sub-nav-size-signup">Socials</div>
			  <div class="nav-font01">(Optional)</div>

			<div class="col-lg-3">
				<span class="fa fa-globe icon-width bootstrap-font-icon  bootstrap-font-icon-gray 001" data-toggle="modal" data-target="#myModal-social" id="001" ng-click="social_type='company-website'" data-container="body" data-toggle="" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." aria-hidden="true"></span>
			</div>
			<div class="col-lg-3" > <span class="fa fa-twitter icon-width bootstrap-font-icon  bootstrap-font-icon-gray 002" data-toggle="modal" data-target="#myModal-social" id="002" ng-click="social_type='twitter'"  aria-hidden="true"></span></div>
			<div class="col-lg-3"> <span class="fa fa-facebook icon-width bootstrap-font-icon  bootstrap-font-icon-gray 003" data-toggle="modal" data-target="#myModal-social" id="003" ng-click="social_type='facebook'" aria-hidden="true"></span></div>
			<div class="col-lg-3"><span class="fa fa-linkedin icon-width bootstrap-font-icon  bootstrap-font-icon-gray 004" data-toggle="modal" data-target="#myModal-social" id="004" ng-click="social_type='linkedin'"  aria-hidden="true"></span><br/><br/></div>
			<div class="col-lg-3"><span class="fa fa-pinterest icon-width bootstrap-font-icon  bootstrap-font-icon-gray 005" data-toggle="modal" data-target="#myModal-social" id="005" ng-click="social_type='pinterest'"  aria-hidden="true"></span></div>
			<div class="col-lg-3"><span class="fa fa-tumblr icon-width bootstrap-font-icon  bootstrap-font-icon-gray 006" data-toggle="modal" data-target="#myModal-social" id="006" ng-click="social_type='tumblr'"  aria-hidden="true"></span></div>
			<div class="col-lg-3"><span class="fa fa-github icon-width bootstrap-font-icon  bootstrap-font-icon-gray 007" data-toggle="modal" data-target="#myModal-social" id="007" ng-click="social_type='git-hub'"   aria-hidden="true"></span></div>
			<div class="col-lg-3"><span class="fa fa-instagram icon-width bootstrap-font-icon  bootstrap-font-icon-gray 008" data-toggle="modal" data-target="#myModal-social" id="008" ng-click="social_type='instagram'"  aria-hidden="true"></span><br/><br/><br/><br/><br/></div>

            <!----
			<label>Organization Website</label>
			<input type="text" ng-model="cmpyweb" name="cmpyweb"  class="form-control">
			<span style="color:red;" ng-show="signup3Form.cmpyweb.$dirty && signup3Form.cmpyweb.$invalid ">
				<span ng-show="signup3Form.cmpyweb.$error.required">Organization Website Required</span>
			</span>
            <br/>
             <label>Organization Facebook</label>
			<input type="text" ng-model="cmpyfb" name="cmpyfb"  fb-url class="form-control">
			<span style="color:red;" ng-show="signup3Form.cmpyfb.$dirty && signup3Form.cmpyfb.$invalid ">
				<span ng-show="signup3Form.cmpyfb.$error.required">Organization Website Required</span>
			</span>
            <br/>
             <label>Organization Twitter</label>
			<input type="text" ng-model="cmpytwitter" name="cmpytwitter" twitter-url class="form-control">
			<span style="color:red;" ng-show="signup3Form.cmpytwitter.$dirty && signup3Form.cmpytwitter.$invalid ">
				<span ng-show="signup3Form.cmpytwitter.$error.required">Organization Website Required</span>
			</span>
            <br/>
             <label>Organization LinkedIn</label>
			<input type="text" ng-model="cmpylink" name="cmpylink" linkedin-url class="form-control">
			<span style="color:red;" ng-show="signup3Form.cmpylink.$dirty && signup3Form.cmpylink.$invalid ">
				<span ng-show="signup3Form.cmpylink.$error.required">Organization Website Required</span>
			</span>
			---->

<!-- Social Icons Modal Window -->
<div class="modal fade" id="myModal-social" tabindex="-1" role="dialog" data-backdrop="static"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="margin-top:15%;">
    <div class="modal-content">
      <div class="modal-header-signup2">
        <h4 class="modal-title text-left signup2-created" id="myModalLabel" >Add Social</h4>
      </div>
      <div class="modal-body-account">
      		<div ng-show="social_type=='company-website'">
        	<div class="text-left account_font">Website</div>

			<input  type="text" ng-model="Tcmpyweb" name="cmpyweb" placeholder="http://" class="inputbox-signup2" maxlength="100" id="company-website_id" web-url >
			<div class="border-top-web01"></div>
			<span style="color:red;" ng-show="signup3Form.cmpyweb.$dirty && signup3Form.cmpyweb.$invalid ">
				<span ng-show="signup3Form.cmpyweb.$error.required" ng-bind="'yara.required'| i18n">Organization Website Required</span>
			</span>
			</div>

			<div ng-show="social_type=='facebook'">
			<div class="text-left account_font">Facebook</div>
			<input  type="text" ng-model="Tcmpyfb" name="cmpyfb"  fb-url class="inputbox-signup2"  maxlength="100" id="facebook_id">
			<div class="border-top-signup2"></div>
			<span style="color:red;" ng-show="signup3Form.cmpyfb.$dirty && signup3Form.cmpyfb.$invalid ">
				<span ng-show="signup3Form.cmpyfb.$error.required" ng-bind="'yara.required'| i18n">Organization Facebook Required</span>
			</span>
			</div>

			<div ng-show="social_type=='twitter'">
             <div class="text-left account_font">Twitter</div>
			<input  type="text" ng-model="Tcmpytwitter" name="cmpytwitter" twitter-url class="inputbox-signup2" maxlength="100" id="twitter_id">
			<div class="border-top-twitter"></div>
			<span style="color:red;" ng-show="signup3Form.cmpytwitter.$dirty && signup3Form.cmpytwitter.$invalid ">
				<span ng-show="signup3Form.cmpytwitter.$error.required" ng-bind="'yara.required'| i18n">Organization Twitter Required</span>
			</span>
            </div>
            
            <div ng-show="social_type=='linkedin'">
             <div class="text-left account_font">LinkedIn</div>
			<input  type="text" ng-model="Tcmpylink" name="cmpylink" linkedin-url class="inputbox-signup2" maxlength="100" id="linkedin_id">
			<div class="border-top-linkedin"></div>
			<span style="color:red;" ng-show="signup3Form.cmpylink.$dirty && signup3Form.cmpylink.$invalid ">
				<span ng-show="signup3Form.cmpylink.$error.required" ng-bind="'yara.required'| i18n">Organization LinkedIn Required</span>
			</span>
			</div>
			
			<div ng-show="social_type=='pinterest'">
             <div class="text-left account_font">Pinterest</div>
			<input  type="text" ng-model="Tcmpypinterest" name="cmpypinterest" pinterest-url  class="inputbox-signup2" id="pinterest_id" maxlength="100">
			<div class="border-top-pint"></div>
			<span style="color:red;" ng-show="signup3Form.cmpypinterest.$dirty && signup3Form.cmpypinterest.$invalid ">
				<span ng-show="signup3Form.cmpypinterest.$error.required" ng-bind="'yara.required'| i18n">Organization Pinterest Required</span>
			</span>
			</div>

			<div ng-show="social_type=='git-hub'">
             <div class="text-left account_font">Git-Hub</div>
			<input  type="text" ng-model="Tcmpygithub" name="cmpygithub"  github-url class="inputbox-signup2" id="git-hub_id" maxlength="100">
			<div class="border-top-git"></div>
			<span style="color:red;" ng-show="signup3Form.cmpygithub.$dirty && signup3Form.cmpygithub.$invalid ">
				<span ng-show="signup3Form.cmpygithub.$error.required" ng-bind="'yara.required'| i18n">Organization Git-Hub Required</span>
			</span>
			</div>
			<div ng-show="social_type=='tumblr'">
		      <div class="text-left account_font">Tumblr</div>
		      <div class="col-md-12">
		          <div class="resizing-input">
		            <span>https://</span>
		            <span id="spantext" style="display:none;">https://</span>
		            <input type="text" ng-model="Tcmpytumblr" placeholder="Tumblr Url" tumblr-url class="inputbox-account"  name="cmpytumblr" placeholder=""  class="" id="tumblr_id" maxlength="100"/>
		            <span>.tumblr.com</span>
		        </div>
		      </div>
		      <!-- <div class="border-top-web"></div> -->
		      <span style="color:red;" ng-show="signup3Form.cmpytumblr.$dirty && signup3Form.cmpytumblr.$invalid ">
		        <span ng-show="signup3Form.cmpytumblr.$error.required" ng-bind="'yara.required' | i18n">Organization Tumblr Required</span>
		      </span>
		      </div>
			<!-- <div ng-show="social_type=='tumblr'">
             <div class="text-left account_font">Tumblr</div>
			<input  type="text" ng-model="Tcmpytumblr" name="cmpytumblr" placeholder="Tumblr Social link"  class="inputbox-signup2" id="tumblr_id" maxlength="100">
			<div class="border-top-web"></div>
			<span style="color:red;" ng-show="signup3Form.cmpytumblr.$dirty && signup3Form.cmpytumblr.$invalid ">
				<span ng-show="signup3Form.cmpytumblr.$error.required" ng-bind="'yara.required'| i18n">Organization Tumblr Required</span>
			</span>
			</div> -->


			<div ng-show="social_type=='instagram'">
             <div class="text-left account_font">Instagram</div>
			<input type="text" ng-model="Tcmpyinstagram" name="cmpyinstagram" instagram-url class="inputbox-signup2" id="instagram_id" maxlength="100">
			<div class="border-top-signup2"></div>
			<div class="error-height">
			<span style="color:red;" ng-show="signup3Form.cmpyinstagram.$dirty && signup3Form.cmpyinstagram.$invalid ">
				<span ng-show="signup3Form.cmpyinstagram.$error.required" ng-bind="'yara.required'| i18n">Organization Instagram Required</span>
			</span>
			</div>
			</div>
      </div>
      <div class="row" style="margin:0 15px;">
      	 <div class="col-md-12 border-top">
      	 			<div class="col-md-8">&nbsp;</div>
                     <div class="col-md-2 pulse-margin"><button type="button" data-dismiss="modal" aria-label="Close" class="btn01 btn-primary-black-pulse01 text-hover">Cancel</button></div>
                     <div class="col-md-2"><button type="button" class="btn01 btn-primary-black-pulse01 text-hover"  ng-click="saveSocials()" ng-disabled="!isSocialSave" >Add</button></div><!-- ng-class="{'gray-color':!isSocialSave}" -->
                    </div>
      </div>
    </div>
  </div>
</div>
<!---modal window End- -->

            <br/>
            <button type="submit" class="btn btn-primary-black-signup01"  >Continue</button>
            <br/><br/>
            </div>
            </div>
        </form>
        <form accessible-form novalidate ng-submit="resetProfilepic();signup4Form.$valid || !wordlength ? signuplevel4(signup4Form) : submitform=false;" name="signup4Form" ng-show="nxtstep=='signupstep3'" autocomplete="off" ng-init="submitform=true">
				<div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="sub-nav-size-signup">Admin Details</div>
                       <!--  <div class="nav-font01"></div> -->
						<!-- <div class="nav-font01">Enter your personal details <br/>
							Every feature is meticulously crafted in way
						</div> -->	<br/>
					 <div ng-hide="imageSrc" class="logo-update-invitation" droplet  ng-model="profilePic">
             <div class="sub-nav-size-signup icon">
				<!--  <a  data-toggle="tooltip" data-placement="right" title="Upload&nbsp;your&nbsp;profile&nbsp;picture " >

				 <img src="../../static/dashboard/images/info-icon.png" width="4%" />

				 </a> -->
				 
			 </div>
             <div class="sub-heading-invitation" >
             <img src="../../static/dashboard/images/image_upload_placeholder.png" class="image_upload_placeholder"/>
             <div class="sub-nav-size-signup2">Profile Picture</div>
             <div class="nav-font-option">(Optional)</div>
             <div class="nav-font-invitation">Drag and drop the file</div>
              <div class="btn01 btn-primary-black-invitation black-signup01 text-hover">
						<span>Choose an Image</span>
                       <!--  <input class="" type="file" ng-file-selected1="onFileSelect($files)" file-model="profilePic" required accept="image/*" name="profilePic" ng-model="profilePic" img-validate> -->
                         <droplet-upload-single ng-model="profilePic" accept="image/*" name="profilePic" ></droplet-upload-single>
			 </div>
             <div class="nav-font-option01 ">Minimum resolution<br/>512 <a class="cross01">X</a> 512<br/>Aspect Ratio - 1:1<br/>Max size - 5 MB</div>
             </div>
             </div><br/>
             <img ng-src="{{imageSrc}}" class="image-width01" id="img-profilePic" ng-show="imageSrc"  />
             <br/>
             <div class="error-height">
              <span style="color:red" >
                <span ng-show="signup4Form.profilePic.$error.invalidimg">Invalid Image File Type</span>
                <span ng-show="signup4Form.profilePic.$error.minsizeval" ng-bind="'yara.invalidImgSize'| i18n">File size should not exceed 5MB</span>
                <span ng-show="!signup4Form.profilePic.$error.minsizeval && signup4Form.profilePic.$error.ratioval" ng-bind="'yara.invalidImgR'| i18n:['1','1']">Aspect Ratio Should Be 1 : 1</span>
                <span ng-show="!signup4Form.profilePic.$error.minsizeval && signup4Form.profilePic.$error.minDimension"  ng-bind="'yara.invalidImgD'| i18n:['512','512']">Minimum resolution 512 X 512</span>
               <!--  <span ng-show="!submitform && !imageSrc">Profile Picture required</span> -->
             </span>
             </div>
             <br/>
            
						<!-- <div id="circle">
						<img ng-src="{{imageSrc}}" class="circle" />
						<div ng-hide="imageSrc" class="innerTEXT" >
							<div class="sub-nav-size-signup03">Profile Picture</div>
							<div class="nav-font-signup03">optional<br/>Minimum resolution<br/>512*512<br/>Aspect Ratio:1:1</div>
						</div>
						</div> -->
			<div class="col-md-12 signup_margin">
				<div class="col-md-6 ">
			 <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-repeat="model in profilePic.getFiles(profilePic.FILE_TYPES.VALID)" ng-click="model.deleteFile()">
			 <span>Remove</span>
			 
			 </div>
			 <!-- <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-show="signup4Form.profilePic.$invalid" ng-click="resetProfilepic()" >
			 <span>clear</span>
			 	
			 </div> -->
			</div>
			<div class="col-md-6 ">
			 <div class="btn01 btn-primary-black-invitation black-signup01 text-hover" ng-repeat="model in profilePic.getFiles(profilePic.FILE_TYPES.VALID)" >
			 <span>Change</span>
			 	<droplet-upload-single ng-model="profilePic" accept="image/*" name="profilePic1" ></droplet-upload-single>
			 </div>
			 
			</div>
		</div>
                       <!--  <span style="color:red" >
						 	<span ng-show="!submitform && signup4Form.profilePic.$untouched ">Profile Picture Required</span>
						 	<span ng-show="signup4Form.profilePic.$error.invalidimg">Invalid Image File Type</span>
						 	<span ng-show="signup4Form.profilePic.$error.minsizeval">File size should not exceed 5MB</span>
			 				<span ng-show="!signup4Form.profilePic.$error.minsizeval && signup4Form.profilePic.$error.ratioval">Aspect Ratio Should Be 1 : 1</span>
						 	<span ng-show="!signup4Form.profilePic.$error.minsizeval && signup4Form.profilePic.$error.minDimension">Minimum resolution 512 * 512</span>
						 </span> -->
                        <br/><br/>
                        <input stopccp type="text" placeholder="Full Name" ng-model="Pname" name="Pname" required class="inputbox auto-fill" maxlength="{{maxlen}}" word-valid first-name capitalize-word="true" ng-keydown="keyvalue=$event">
                        <div class="error-height">
                        <span class="text-danger" ng-show="!submitform && signup4Form.Pname.$invalid">
	                            <span ng-show="!signup4Form.Pname.hasFocus && signup4Form.Pname.$error.required" ng-bind="'yara.required'| i18n">Required</span>
	                         	<span ng-show=" !signup4Form.Pname.hasFocus &&middileNameMax" ng-bind="'yara.maxCharectersMiddle' | i18n">Maximum 30 charecters for middile name</span>
                            <!-- <span  ng-show="!signup4Form.Pname.hasFocus && signup4Form.Pname.$error.maxwords"  ng-bind="'yara.maxWords' | i18n">Maximum 3 words</span> -->
                           <!--  <span ng-show="!signup4Form.Pname.hasFocus && signup4Form.Pname.$error.minwords">Min 2 Words</span> word-valid-->
                        </span>
                        <span class="upload-error-red text-center" ng-show='!submitform && wordlength &&!signup4Form.Pname.hasFocus && !signup4Form.Pname.$error.required' ng-bind="'yara.minWords' | i18n"></span>
                        <span class="upload-error-red text-center" ng-show="firstNameMaxLength" ng-bind="'yara.maxCharectersFirstname' | i18n">Maximum 20 charecters for first name</span>
	                    <span class="upload-error-red text-center" ng-show="middleNameMaxLength" ng-bind="'yara.maxCharectersLastname' | i18n">Maximum 20 charecters for last name</span>
	                    </div>
                        <br/>
                        <!-- <input stopccp type="text" placeholder="Last Name" ng-model="Lname" name="Lname" required class="inputbox" maxlength="25">
                        <span class="text-danger" ng-show="!submitform && signup4Form.Lname.$invalid">
                            <span ng-show="!signup4Form.Lname.hasFocus && signup4Form.Lname.$error.required" ng-bind="'yara.required'| i18n">Required</span>
                        </span>
                        <br/> -->
                         <input stopccp type="text" placeholder="Job Title" ng-model="PDesg" name="PDesg" required class="inputbox auto-fill" capitalize-word="true" ng-keydown="keyvalue=$event" maxlength="50">
                         <div class="error-height">
                        <span class="text-danger" ng-show="!submitform &&  signup4Form.PDesg.$invalid">
                            <span ng-show="!signup4Form.PDesg.hasFocus && signup4Form.PDesg.$error.required" ng-bind="'yara.required'| i18n">Required</span>
                        </span>
                        </div>
                        <br/>
                        <div class="col-md-12 text-center ticket-top text-danger01">
                        <span  ng-show="errormsg">{{data.error}}</span>
                    	</div>
                        <button class="btn btn-primary-black-signup01" type="submit" >Done</button>
                    </div>
				</div>
			</form>
        </div>
    </div>
</div>
<!----modal window start---->

<!-- Upload Logo Modal Window-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Logo</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary-black-signup">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--  Image  Invalid Modal window -->
<div class="modal fade" id="myModal-invalid" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog gatekeeper-popup" role="document" >
    <div class="modal-content modal-padding" >
      <div class="modal-header-top ">
        <h4 class="modal-title modal-heading" id="myModalLabel" >Invalid Extension</h4>
      </div >
      <div class="modal-body1">
          <div  >
         <form  novalidate ng-submit="addpost(postform)" name="postform" autocomplete="off" >
            <div class="row">
                <div class="col-md-12 bg-collaborator" ng-bind="'yara.invalidImg'| i18n">
                   Invalid Extension Choose jpg, jpeg and png format.
                </div>
                <div class="col-md-12 border-top">
                      <div class="col-md-10"><div  class=" text-danger">&nbsp;</div></div>
                     <div class="col-md-2 pulse-margin"><div  data-dismiss="modal" aria-label="Close" class="btn01 btn-primary-black-pulse01 "><a class="text-hover">Close</a></div></div>
                </div>
            </div>
          </form>

            </div>
      </div>
    </div>
  </div>
</div>
<!----crop image---->
  <div class="modal fade" id="crop-image" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog gatekeeper-popup" role="document" >
    <div class="modal-content modal-padding" >
		<!-----loading indicator start------>
		  <div class="col-md-12 position-absolute container-remove-padding general-bg-loader-pop" ng-hide="lodinghide">
		     <img src="../../../static/dashboard/images/default5.gif" class="search-loading text-center general-loader">
		  </div>
		<!-----loading indicator End------>
      <div class="modal-header-top ">
        <h4 class="modal-title modal-heading" id="myModalLabel" >Crop</h4>
      </div >
      <div class="modal-body1">
         <form novalidate  class="margin00">
            <div class="row">
                <div class="col-md-12 bg-general crop-popup" ng-class="{'circle-image': cropPic=='profile'}">
                  <div class="image-editor crop-popup">
              <input type="file" class="cropit-image-input">
              <div class="cropit-preview"></div>
              <div class="image-size-label">
              </div>
             <div class="crop-bottom"></div>
              <div class="slider-wrapper">
                <input type="range" class="cropit-image-zoom-input custom" min="0" max="1" step="0.01">
              </div>
              <div class="crop-top"></div>
                      </div>
                </div>
                <div class="col-md-12 border-top">
                      <div class="col-md-8"><div  class=" text-danger">&nbsp; </div></div>

                     <div class="col-md-2 pulse-margin"><div class="btn01 btn-primary-black-pulse01 text-hover"data-dismiss="modal" aria-label="Close"  ><a class="text-hover" ng-click="resetCropImg()">Cancel</a></div></div>
                     <div class="col-md-2 pulse-margin"><div  class="btn01 btn-primary-black-pulse01 text-hover"><a class="text-hover"  ng-click="setCropImg()">Crop</a></div></div>

                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Upload Cover image Modal window -->
<div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cover Image</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary-black-signup">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
	<script>
		(function(jQuery){
			jQuery(window).load(function(){				
				jQuery(".font-names").mCustomScrollbar({
					theme:"dark",
					scrollInertia: 400,
					scrollButtons:{enable: true},		
					autoHideScrollbar: false,	

					autoExpandScrollbar: true,
					keyboard:{ enable: true }
				});				
			});
		})(jQuery);
	</script>	
<script>
function h(e) {
    $(e).css({'height':'auto','overflow-y':'hidden'}).height(e.scrollHeight);
}
$('textarea').each(function () {
  h(this);
}).on('input', function () {
  h(this);
});
</script>
<script type="text/javascript">
    function changeMe(sel)
    {
      sel.style.color = "#555";              
    }
</script>

<script>
$(document).ready(function(){
	$("#menutitlesearch").hide();
	$("#menutitlestatesearch").hide();
$(document).on('click',"#country_dropdown .font-names  li",function() {
  
   $("#menutitlesearch").hide();
   $("#menutitle").show();
   $("#country_dropdown img").removeClass();
   $("#country_dropdown img").addClass('caret01');  
});  
$(document).on('click',"#state_dropdown .font-names  li",function() {
  
   $("#menutitlestatesearch").hide();
   $("#menutitlestate").show(); 
   $("#state_dropdown img").removeClass();
   $("#state_dropdown img").addClass('caret01'); 
});  
	

});
</script>
	 <script>
$(window).load(function() {
    //show();
});
 $('body').css('overflow','hidden');
$(document).ready(function(){
  $('#loading').fadeOut(function(){
 	$('body').css('overflow','auto');
 });
 $('#container').fadeIn();

});
function show() {
 $('#loading').fadeOut(function(){
 	$('body').css('overflow','auto');
 });
    $('#container').fadeIn();
};

 //setTimeout(show, 100000);
</script>

<script>
$(document).ready(function () {
    var $inputs = $('.resizing-input');

    // Resize based on text if text.length > 0
    // Otherwise resize based on the placeholder
    function resizeForText(text) {
        var $this = $(this);
        if (!text.trim()) {
            text = $this.attr('placeholder').trim();
        }
        var $span = $this.parent().find('#spantext');
        $span.text(text);
        var $inputSize = $span.width();
        $this.css("width", $inputSize);
    }

    $inputs.find('input').keypress(function (e) {
        if (e.which && e.charCode) {
            var c = String.fromCharCode(e.keyCode | e.charCode);
            var $this = $(this);
            resizeForText.call($this, $this.val() + c);
        }
    });

    // Backspace event only fires for keyup
    $inputs.find('input').keyup(function (e) { 
        if (e.keyCode === 8 || e.keyCode === 46) {
            resizeForText.call($(this), $(this).val());
        }
    });

    $inputs.find('input').each(function () {
        var $this = $(this);
        resizeForText.call($this, $this.val())
    });
});
</script>
<div ng-include-template="/signup_footer" copyright="true"></div>
        {%endverbatim%}
    </body>
</html>
